﻿<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2" *ngIf="filterSelectedSupervisorEWC">
                <label class="active placeholder_top_form block">Supervisor</label>
                <select class="block" [(ngModel)]="filterSelectedSupervisorEWC" (ngModelChange)="changeSupervisor()">
                    <option value="-1" selected>Seleccione el supervisor</option>
                    <option *ngFor="let supEWC of extWCSupervisors" [ngValue]="supEWC.usuario">{{ supEWC.usuario }}</option>
                </select>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2">
                <label class="active placeholder_top_form block">Estado</label>
                <select class="block" [(ngModel)]="filterStatus" (ngModelChange)="changeFilterStatus()">
                    <option value="-1" selected>Seleccione el estado</option>
                    <option *ngFor="let status of statusList" [ngValue]="status">{{ status }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Descripcion</th>
                    <th>Equipo</th>
                    <th colspan="2" align="right">Orden</th>
                    <th>Clave Modelo</th>
                    <th>Descripcion</th>
                    <th>Fecha y Hora de Inicio</th>
                    <th>Status</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let externalworkcontrol of externalworkcontrols | paginate: { itemsPerPage: 10, currentPage: pageExternalWorkControl, id: 'page_External_Work_Control' }; let i = index">
                    <td>
                        <select class="populating block" [(ngModel)]="externalworkcontrol.lifnr" (change)="providerChange(externalworkcontrol)">
                            <option value="-1">Selecciona un proveedor</option>
                            <option *ngFor="let provider of providers" [ngValue]="provider.lifnr">{{provider.namE1}}</option>
                        </select>
                    </td>
                    <td>{{externalworkcontrol.namE1}}</td>
                    <td>{{externalworkcontrol.equnr}}</td>
                    <td><a class="c_gray_2 pointer tooltipped" data-position="left" data-tooltip="Notificar" (click)="notify(externalworkcontrol)"><i class="material-icons fs_15 c_hover_green_3 trans_05">notifications_active</i></a></td>
                    <td><a class="pointer" (click)="toRequirement(externalworkcontrol.aufnr,externalworkcontrol.vornr)">{{externalworkcontrol.aufnr}}</a> </td>
                    <td>{{externalworkcontrol.ktsch}}</td>
                    <td>{{externalworkcontrol.ltxA1}}</td>
                    <!--<td>{{externalworkcontrol.vornr}}</td>-->
                    <td>{{externalworkcontrol.fenot}} {{externalworkcontrol.hrnot}}</td>
                    <td>{{externalworkcontrol.motivo}}</td>
                    <td><a class="{{externalworkcontrol.lightcolor}} circle pulse w04 h04 btn-floating "></a></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageExternalWorkControl = $event"
                             id="page_External_Work_Control"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>