﻿<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2" *ngIf="filterSelectedSupervisorMatRC">
                <label class="active placeholder_top_form block">Supervisor</label>
                <select class="block" [(ngModel)]="filterSelectedSupervisorMatRC" (ngModelChange)="changeSupervisor()">
                    <option value="-1" selected>Seleccione el supervisor</option>
                    <option *ngFor="let sup of matRCSupervisors" [ngValue]="sup.usuario">{{ sup.usuario }}</option>
                </select>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06">
                <label class="active placeholder_top_form block">Estado</label>
                <select class="block" [(ngModel)]="filterStatus" (ngModelChange)="changeFilterStatus()">
                    <option value="-1" selected>Seleccione el estado</option>
                    <option value="Todos" selected>Todos</option>
                    <option *ngFor="let status of statusList" [ngValue]="status">{{ status }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <!--<th>Proveedor</th>-->
                    <th>No. Devoluci&oacute;n</th>
                    <th>Orden</th>
                    <th>Puesto Trabajo</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mat of matreturncontrols | paginate: { itemsPerPage: 10, currentPage: pageDevSup, id:'page_Dev_Sup' }; let i = index">
                    <td><a class="pointer" (click)="loadMatDevolution(mat.coddev,mat.aufnr)">{{mat.coddev}}</a></td>
                    <td>{{mat.aufnr}}</td>
                    <td>{{mat.puestocrea}}</td>
                    <td>{{mat.status}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageDevSup = $event"
                             id="page_Dev_Sup"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

