<!-- Modal Structure -->
<div class="modal refund_material_list_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Devoluci&oacute;n de material</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_auto h30_900_st pad_2_240_st">

                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th class="pad_lr_1">C&oacute;digo de devoluci&oacute;n</th>
                                                    <th class="pad_lr_1">Orden</th>
                                                    <th class="pad_lr_1">Puesto trabajo</th>
                                                    <th class="pad_lr_1">Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let refund of refunds | paginate: { itemsPerPage: 10, currentPage: pageRefundMaterialList, id:'pageRefundMaterialList' }; let i = index">
                                                    <td>
                                                        <span (click)="loadMaterialUnloading(refund.coddev,refund.puestocrea,refund.status)" class="btn_ovalo_sm fs_1 boldemort relative pointer">
                                                            <span class="relative z1">{{refund.coddev}}</span>
                                                            <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                                                        </span>
                                                    </td>
                                                    <td>{{refund.aufnr}}</td>
                                                    <td>{{refund.puestocrea}}</td>
                                                    <td>{{refund.status}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageRefundMaterialList = $event;"
                                                             id="pageRefundMaterialList"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="addRefund()">Agregar devoluci&oacute;n</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>