<div class="pad_t_7p5_1024">
    <div class="content_wrap bck_white pad_tb_0 fixed_1024_st top_3p5_1024_st z2_1024_st left_0_1024_st w100p pad_l_15r_1024_st pad_r_2_1024 full_width_selection unselected">
        <div class="pad_l_4_1024_st relative">
            <!-- vertical split -->
            <div class="split_web_submenu only_1024 absolute_tl_1024_st bottom_0_1024_st mar_auto w3px h60p bck_yellow">
                <div class="absolute_tl_240_st midd_container wh100p">
                    <div class="midd_cell pad_l_2">
                        <div class="circle bck_green_2 w04 h04"></div>
                        <div class="circle bck_yellow w04 h04 mar_t_03"></div>
                    </div>
                </div>
            </div>

            <ul class="tabs tabs-fixed-width c_black_all max_w_100 mar_auto">
                <li class="tab ">
                    <a class="active capitalize fs_09" href="#tabWoAssignmentSupervisor" *ngIf="evalMenu('11')" (click)="changeInboxTab('Asignación OT')">
                        Asignación OT
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabApproveRequirementSupervisor" class="capitalize fs_09" *ngIf="evalMenu('12')" (click)="changeInboxTab('Aprobar Requisa')">
                        Aprobar Requisa
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabExternalWorkControlSupervisor" class="capitalize fs_09" *ngIf="evalMenu('13')" (click)="changeInboxTab('Trabajo Externo')">
                        Trabajo Externo
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabMaterialReturnControlSup" class="capitalize fs_09" *ngIf="evalMenu('14')" (click)="changeInboxTab('Devolución')">
                        Devolucion
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabFinishWOSupervisor" class="capitalize fs_09" *ngIf="evalMenu('15')" (click)="changeInboxTab('Fin OT')">
                        Fin OT
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabQASupervisor" class="capitalize fs_09" *ngIf="evalMenu('16')" (click)="changeInboxTab('QA')">
                        QA
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabTFNSupervisor" class="capitalize fs_09" *ngIf="evalMenu('17')" (click)="changeInboxTab('TFN')">
                        TFN
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabWOConcludedSupervisor" class="capitalize fs_09" *ngIf="evalMenu('18')" (click)="changeInboxTab('OT Concluida')">
                        OT Conculida
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_wrap body_container">
        <div class="pad_2_240_st pad_4_900_st bck_white body_white relative">

            <!-- title body navigation -->
            <div class="vertical_text uppercase ls_1 absolute w1 right_1p5_240_st top_0_240_st text-center fs_08 c_gray opa_50 only_1024 ellipsis pad_tb_4 h100p" [innerHTML]="navigation">
            </div>

            <!-- body -->
            <wo-assignment id="tabWoAssignmentSupervisor" class="col s12" *ngIf="evalMenu('11')"></wo-assignment>
            <approve-requirement-supervisor id="tabApproveRequirementSupervisor" class="col s12" *ngIf="evalMenu('12')"></approve-requirement-supervisor>
            <external-work-control id="tabExternalWorkControlSupervisor" class="col s12" *ngIf="evalMenu('13')"></external-work-control>
            <material-return-control id="tabMaterialReturnControlSup" *ngIf="evalMenu('14')"></material-return-control>

            <finish-work-order class="overflow_auto" id="tabFinishWOSupervisor" *ngIf="evalMenu('15')"></finish-work-order>
            <div class="overflow_auto" *ngIf="evalMenu('16')" id="tabQASupervisor">
            </div>
            <div class="overflow_auto" *ngIf="evalMenu('17')" id="tabTFNSupervisor">
            </div>

            <wo-concluded id="tabWOConcludedSupervisor" *ngIf="evalMenu('18')"></wo-concluded>
        </div>
    </div>
</div>