<!-- Modal Structure -->
<div class="modal advice_modal h43_900_st max_w_80 focus_active_none">
    <div class=" w100p box_sizing">
        <div class=" w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- integrantes -->
                    <div class="relative  team_chat_container trans_05">

                        <div class="w100p">
                            <div class="w100p overflow_h">
                                <div class="team_chat trans_05">

                                    <span id="advices" class="pad_r_05">
                                        <span class="c_green_3">Avisos</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split hauto_900_st overflow_auto bck_white">
                    <div class="h30_900_st relative box_sizing ">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">
                                    
                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th>Tipo de aviso</th>
                                                    <th>Grupo de falla</th>
                                                    <th>Sintoma</th>
                                                    <th>Texto largo</th>
                                                    <th>Orden</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let advice of Advices | paginate: { itemsPerPage: 10, currentPage: pageAdvice, id:'page_Advice' }; let i = index">                                                    
                                                    <td>{{advice.qmartx}}</td>
                                                    <td>{{advice.kurztext}}</td>
                                                    <td>{{advice.textaveria}}</td>
                                                    <td>{{advice.fetxt}}</td>
                                                    <td>{{advice.aufnr}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageAdvice = $event"
                                                             id="page_Advice"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_2 bck_white ">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer c_gray_2 c_hover_green_3 trans_05 bolder" (click)="cancel()">Cancelar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>