<!-- preloader -->
<div id="lottie" class="w12 h12 center_absolute">
    <div class="w100p absolute top_10_240_st left_0_240_st text-center c_white uppercase bolder dots_loading">
        Cargando <span>.</span><span>.</span><span>.</span>
    </div>
</div>