<div id="service_print_template" class="modal service_print_template_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">

        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">

            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative">
                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">{{encabezadoServicio}}</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">


                                    <!--table-->
                                    <div id="print-section" class="overflow_auto ">
                                        <table class='striped w50p'>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">No. Equipo:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header orden_header btn_ovalo_sm">{{serviceRequest.noEquipo}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">No. Orden:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.noOrden}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Fecha:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header equipo_header btn_ovalo_sm">{{serviceRequest.fecha}} {{serviceRequest.hora}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Pieza a Reparar:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.pieza}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Tipo de Reparaci&oacute;n:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.tipoReparacion}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Proveedor:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.proveedor}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Tiempo Estimado en el Taller (d&iacute;as):</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.formattedHours}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Fecha de Entrega:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.fechaEntrega}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Hora de Entrega:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.horaEntrega}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Fecha de Retorno:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.fechaRetorno}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="inline_divs pad_r_1 v_mid_all">
                                                            <div class="pad_tb_05">Hora de Retorno:</div>
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{serviceRequest.horaRetorno}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <br />
                                                    <br />
                                                    <td>
                                                        <div class="pad_r_1 v_mid_all">
                                                            <hr width="150" />
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">SUPERVISOR</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="pad_r_1 v_mid_all">
                                                            <hr width="150" />
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">PROVEEDOR</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="pad_r_1 v_mid_all">
                                                            <hr width="150" />
                                                            <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">PORTER&Iacute;A</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <button class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="printService()" *ngIf="setVisiblePrintBtn">Imprimir</button>
                            <button class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="cancel()" *ngIf="setVisiblePrintBtn">Cancelar</button>
                        </div>
                    </div>
                </div>












            </div>

        </div>




    </div>
</div>
