<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2">
                <label class="active placeholder_top_form block">Orden</label>
                <select class="block" [(ngModel)]="filterWOConcluded" (ngModelChange)="changeFilterWOConcluded()">
                    <option value="-1" selected>Seleccione el No. Orden</option>
                    <option *ngFor="let wo of woConcludedList" [ngValue]="wo">{{ wo }}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Recepci&oacute;n</th>
                    <th>Equipo</th>
                    <th>Fecha Finalizaci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wo of wordersConcluded | paginate: { itemsPerPage: 10, currentPage: pageWOConcluded, id:'page_WO_Concluded' }; let i = index">
                    <td><a class="pointer" (click)="toRequirement(wo.aufnr,wo.rentnr)">{{wo.aufnr}}</a></td>
                    <td>{{wo.rentnr}}</td>
                    <td>{{wo.equnr}}</td>
                    <td>{{wo.femod}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageWOConcluded = $event"
                             id="page_WO_Concluded"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>