<div id="messengerModal" class="modal comment_modal h43_900_st focus_active_none">

    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">


            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative " [title]="actors">

                     <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700" >
                       
                        <!-- integrantes -->
                       <div class="w100p h2">
                           <div class="absolute_tl_240_st bottom_0_240_st mar_auto h2"><i class="material-icons opa_50 fs_2 inline c_green_3">&#xE0B7;</i></div>
                           <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05" *ngFor="let actor of actors" >
                                        <span  class="c_green_3">{{actor}}</span>,
                                    </span>
                                    

                                </div>
                                
                           </div>
                       </div>

                      

                    </div>

                   <!-- orden -->
                   <div class="absolute_700_st right_0_700_st top_100p_700_st  mar_auto trans_05 w100p v_bottom_all text-right_700_st orden_number z1 opa_50">
                        <div class="column_container pad_t_1_700_st pad_lr_2_700_st">
                           <div class="bolder uppercase fs_1 g_s240_100p g_s700_50p text-left "><div class="inline" [innerHTML]="typeReference"></div></div>
                           <div id="commentReference" class="bolder uppercase fs_1 g_s240_100p g_s700_50p "><div class="inline">Ref: <span >{{reference}}</span></div></div>
                        </div>
                   </div>
                   


                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_auto h30_900_st pad_2_240_st">

                                    <div class="pad_t_2_700_st">
                                        <p *ngIf="!commentsQueue"><em>Loading...</em></p>
                                        <div *ngFor="let comment of commentsQueue">
                                            <div class="own-comment text-right pad_b_05 relative max_w_80p display_hover_ff right_block" *ngIf="sessionInfo.UserName == comment.usuario">

                                                <div class="r5px bck_yellow_light inline relative">
                                                    <div class="relative pad_lr_1 pad_tb_05">

                                                        <!-- name -->
                                                        <div class="c_yellow capitalize fs_09 bolder">
                                                            tú
                                                        </div>

                                                        <div class="comment">{{comment.comentario}}</div>

                                                    </div>

                                                    <!-- edit -->
                                                    <div class="fs_08 c_gray_2 italic pad_r_05 opa_50 absolute top_05_240_st right_100p_240_st pad_t_0 display_hover pointer c_green_3">
                                                        <i class="material-icons fs_1" (click)="loadCommentInfoToUpdate(comment.idcomment, comment.comentario)">&#xE22B;</i>
                                                    </div>

                                                </div>
                                                <!-- hora -->
                                                <div class="fs_08 c_gray_2 italic pad_t_05 display_hover">
                                                    {{comment.fecha}}-{{comment.hora}}
                                                </div>


                                            </div>

                                            <div class="third-comment text-left pad_b_05 relative max_w_80p display_hover_ff" *ngIf="sessionInfo.UserName != comment.usuario">
                                                <div class="r5px bck_green_lighter inline relative">
                                                    <div class="relative pad_lr_1 pad_tb_05">

                                                        <!-- name -->
                                                        <div class="c_green_2 capitalize fs_09 bolder lowercase">
                                                            {{comment.usuario}}
                                                        </div>

                                                        <div class="comment">{{comment.comentario}}</div>

                                                    </div>

                                                </div>
                                                <!-- hora -->
                                                <div class="ffs_08 c_gray_2 italic pad_t_05 display_hover">
                                                    {{comment.hora}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                    </div>

                </div>
               

                <div class="pad_lr_2 pad_b_05 pad_t_1">
                    <div class="relative placeholder">
                        <div class="input-field pad_r_3 relative">
                            <input id="comment" type="text" [(ngModel)]="messageToSend" class="no_border no_margin">
                            <label for="comment">Ingrese el mensaje</label>
                        </div>
                        <div class="absolute_tr_240_st mar_t_1 h2 text-center">
                            <a class="c_yellow waves-effect waves-light fs_11 pointer" (click)="createComment()">
                                <i class="material-icons">send</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
