﻿<!--<p *ngIf="!workOrderOperations"><em>Loading...</em></p>-->
<div class="">
    <div class="pad_b_1">
        <div class="relative pad_r_10_480_st ">
            <div class="relative">
                <div class="pad_b_1" *ngIf="lightColor">
                    <a class="{{lightColor}} circle pulse w04 h04 btn-floating "></a>
                    <span class="pad_l_1 c_gray opa_50 fs_09"></span>
                </div>
                <div class="inline_divs" *ngIf="workOrderHeader[0]">
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Orden:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header orden_header btn_ovalo_sm">{{workOrderHeader[0].aufnr}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Bahía:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{workOrderHeader[0].bahia || 0}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Equipo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header equipo_header btn_ovalo_sm">{{workOrderHeader[0].equnr}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">KM Prog:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header km_header btn_ovalo_sm">{{workOrderHeader[0].kmprg}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Costo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header cost_header btn_ovalo_sm">${{workOrderHeader[0].costo}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Modelo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header cost_header btn_ovalo_sm">{{workOrderHeader[0].modelo}}</div>
                    </div>
                </div>
                <div class="inline_divs" *ngIf="workOrderHeader[0]">
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Observaciones:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header orden_header btn_ovalo_sm">{{workOrderHeader[0].observacion}}</div>
                    </div>
                </div>
            </div>
            <div class="fs_09 text-right v_mid_all absolute_br_480_st pad_t_1_240_st pad_t_0_480_st">

                <div class="inline pad_lr_1"><a class="c_green_2 pointer" id="modalLoader" (click)="loadMessengerFromOrderHeader()"><i class="material-icons lh_1p5">chat</i></a></div>
                <div class="action dropdown-trigger inline" data-target='actions_wo_detail'>
                    <i class="c_green_2 material-icons btn_ovalo_sm bck_green_lighter lh_1p5 waves-effect"><i class="material-icons">&#xE5D3;</i></i>
                </div>

                <!-- Dropdown Structure -->
                <ul id='actions_wo_detail' class='dropdown-content'>
                    <li *ngIf="sessionInfo && sessionInfo.RoleName == 'AutorizadorADF'"><span id="woQuantity" (click)="loadWOAssigned()">Autorizar requisas (<strong>{{WorkOrderQuantity}}</strong>)</span></li>
                    <li *ngIf="sessionInfo && sessionInfo.RoleName != 'AutorizadorADF'"><span id="woQuantity" (click)="loadWOAssigned()">OT Asignadas (<strong>{{WorkOrderQuantity}}</strong>)</span></li>
                    <li (click)="showEquipmentHistory()"><span>Historial</span></li>
                    <li (click)="showAdvices()"><span>Avisos</span></li>
                    <li (click)="showRefundMaterialList()"><span>Devolución</span></li>
                    <li [ngClass]="!enableFinishWo ? 'disabled' : ''" (click)="enableFinishWo && finishOT()"><span>Fin OT</span></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="overflow_auto ">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Origen</th>
                    <th class="text-center"><i class="material-icons">chat</i></th>
                    <th class="text-center">Operación</th>
                    <th class="text-center">CM</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Materiales</th>
                    <th class="text-center">SE</th>
                    <th class="text-center">Proveedor</th>
                    <th class="text-center">Estatus</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operation of workOrderOperations | paginate: { itemsPerPage: 10, currentPage: pageWODetail, id:'page_WO_Detail' }; let i = index">
                    <td class="text-center">
                        <div class="material-icons c_gray_2 fs_14 lh_13 pointer" *ngIf="operation.existCheckList && operation.notWorkedCheckList" (click)="loadCheckList(operation.ulT_MOTIVO,operation.vornr)">dehaze</div>
                        <div class="material-icons c_blue fs_16 lh_15 pointer" *ngIf="operation.existCheckList && operation.pendingCheckList" (click)="loadCheckList(operation.ulT_MOTIVO,operation.vornr)">playlist_play</div>
                        <div class="material-icons c_blue fs_16 lh_15 pointer" *ngIf="operation.existCheckList && !operation.pendingCheckList && !operation.notWorkedCheckList" (click)="loadCheckList(operation.ulT_MOTIVO,operation.vornr)">playlist_add_check</div>
                    </td>
                    <td class="text-center">{{operation.origen}}</td>
                    <td class="text-center"><a class="pointer" [ngClass]="operation.haycomentario ? 'c_green_2' : 'c_gray'" (click)="loadMessengerFromOperation(operation.vornr)"><i class="material-icons">chat</i></a></td>
                    <td class="text-center">{{operation.vornr}}</td>
                    <td class="text-center">{{operation.ktsch}}</td>
                    <td class="text-center">{{operation.txt}}</td>
                    <td class="text-center">
                        <span (click)="loadMaterials(operation.vornr,operation.ktsch,operation.txt)" class="btn_ovalo_sm fs_1 boldemort relative pointer">
                            <span class="relative z1">{{operation.toT_MAT}}</span>
                            <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                        </span>
                    </td>
                    <td>
                        <label class="check_span">
                            <input type="checkbox" [checked]="operation.srvex" [(ngModel)]="operation.srvex" (click)="providerClick(operation,$event)" (change)="providerChange(operation)" />
                            <span class="v_mid_all pointer relative">
                            </span>
                        </label>
                    </td>
                    <td>
                        <select class="populating block" [(ngModel)]="operation.lifnr" [disabled]="showNotifications || (!showNotifications && !operation.srvex) || (operation.ulT_MOTIVO == 'FCMO' || operation.ulT_MOTIVO == 'NEJE')" (change)="providerChange(operation)" (mousedown)="preventProviderChange($event,operation.srvex)">
                            <option value="-1">Selecciona un proveedor</option>
                            <option *ngFor="let provider of providers" [ngValue]="provider.lifnr">{{provider.namE1}}</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <span *ngIf="operation.ulT_MOTIVO != 'PROC'">{{operation.ulT_MOTIVO}}</span>
                        <span *ngIf="operation.ulT_MOTIVO == 'PROC'" class="btn_ovalo_sm fs_08 boldemort relative">
                            <span class="relative z1">{{operation.ulT_MOTIVO}}</span>
                            <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                        </span>
                    </td>
                    <td *ngIf="((!operation.srvex && sessionInfo && sessionInfo.RoleName == 'TecnicoADF') || (operation.srvex && sessionInfo && sessionInfo.RoleName == 'SupervisorADF'))">
                        <a class="c_gray_2 pointer tooltipped" data-position="left" data-tooltip="Notificar" (click)="notify(operation)"><i class="material-icons fs_15 c_hover_green_3 trans_05">notifications_active</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination-controls (pageChange)="pageWODetail = $event"
                         id="page_WO_Detail"
                         class="bi-pagination text-right pad_t_3 block w100p"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
</div>