﻿<div class="overflow_auto" *ngIf="havePermission">
    <table class='striped highlight'>
        <thead>
            <tr>
                <th>Orden</th>
                <th>Equipo</th>
                <th>Denominación</th>
                <th>Descripción de clase actividad PM</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Duración</th>
                <th>Status de orden</th>
                <th>Tiempo transcurrido</th>
                <th colspan="2">Tiempo efectivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let woassignment of woassignments | paginate: { itemsPerPage: 10, currentPage: pageWoAssigned, id:'page_wo_assigned' }; let i = index">
                <td><a class="pointer" (click)="loadWODetail(woassignment.aufnr, woassignment.lightcolor, woassignment.equnr, woassignment.statord)">{{woassignment.aufnr}}</a></td>
                <td>{{woassignment.equnr}}</td>
                <td>{{woassignment.eqktx}}</td>
                <td>{{woassignment.capmtxt}}</td>
                <td>{{woassignment.gstrp}}</td>
                <td>{{woassignment.gsuzp}}</td>
                <td>{{woassignment.durac}}</td>
                <td>
                    <span *ngIf="woassignment.statord != 'REPROCESO'">{{woassignment.statord}}</span>
                    <span *ngIf="woassignment.statord == 'REPROCESO'" class="btn_ovalo_sm fs_08 boldemort relative">
                        <span class="relative z1">{{woassignment.statord}}</span>
                        <span class="bck_red opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                    </span>
                </td>
                <td>{{woassignment.ttranscurrido}}</td>
                <td>{{woassignment.effectiveTime}}</td>
                <td><a class="{{woassignment.lightcolor}} circle pulse w04 h04 btn-floating "></a></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageWoAssigned = $event"
                         id="page_wo_assigned"
                         class="bi-pagination text-right pad_t_3 block w100p"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
</div>
