<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="input-field g_s240_100p g_s700_33p g_s900_25p pad_r_2_700_st pad_r_2_1024_st">
            <div class="input-field relative">

                <input placeholder="Digite el Equipo" id="equipment" type="text" [(ngModel)]="filterEquipment" class="validate input-material-field fs_1 placeholder_top_form_input" (focusout)="changeEquipment()">
                <label for="equipment" class="active placeholder_top_form">Equipo</label>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_r_2_1024_st">
            <div class="relative lh_06 pad_t_1 pad_t_0_700_st">
                <label class="active placeholder_top_form block">Bahia</label>

                <select [(ngModel)]="filterSelectedBay" (ngModelChange)="changeBay(filterSelectedBay)" class="block">
                    <option value="" selected>Seleccione la bahía</option>
                    <option *ngFor="let bay of bays" [ngValue]="bay.bahia">{{ bay.descrip }}</option>
                </select>

            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 pad_t_1 pad_t_0_700_st" *ngIf="filterSelectedSupervisor">
                <label class="active placeholder_top_form block">Supervisor</label>
                <select [(ngModel)]="filterSelectedSupervisor._Supervisor" (ngModelChange)="changeSupervisor()" class="block">
                    <option value="" selected>Seleccione el supervisor</option>
                    <option *ngFor="let supervisor of supervisors" [ngValue]="supervisor">{{ supervisor.usuario }}</option>
                </select>
            </div>
        </div>

        <div class="input-field g_s1024_25p pad_t_1_1024_st mar_0">
            <div>
                <label class="block pad_b_2 pad_b_0_1024_st relative">
                    <span class="absolute_default">
                        <span class="check_span">
                            <input type="checkbox" [(ngModel)]="filterRepose" [checked]="filterRepose" (ngModelChange)="changeRepose()" />
                            <span class="v_mid_all pointer"></span>
                        </span>
                    </span>
                    <span class="italic fs_09 pad_l_2 block">
                        Incluir equipo en proceso
                    </span>
                </label>
            </div>
        </div>

    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th class="pad_lr_1">Doc de Recepción</th>
                    <th class="pad_lr_1">Fecha recepción</th>
                    <th class="pad_lr_1">Fecha de status</th>
                    <th>Num. equipo</th>
                    <th>Num. orden</th>
                    <th style="min-width: 200px;" class="text-center">Desc. orden</th>
                    <th style="min-width: 200px;" class="text-center">Puesto trabajo</th>
                    <th style="min-width: 200px;" class="text-center">Bahía</th>
                    <th>Estatus OT</th>
                    <th>PC</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="v_mid_all" *ngFor="let reception of receptions | paginate: { itemsPerPage: 10, currentPage: pageWo_assignment,id:'Wo_assignmentPage' }; let i = index">
                    <td class="reception-number pad_lr_1">{{ reception.rentnr }}</td>
                    <td class="pad_lr_1">{{ reception.fedoC_ER}}</td>
                    <td class="pad_lr_1">{{ reception.femod}}</td>
                    <td><a class="pointer" (click)="loadEquipmentDetails(reception.rentnr, reception.equnr)">{{ reception.equnr }}</a></td>
                    <td>{{ reception.aufnr }}</td>
                    <td>{{ reception.ktext }}</td>

                    <td>
                        <select class="populating block" [(ngModel)]="reception.selectedArbpl">
                            <option value="-1" disabled>Seleccione el puesto de trabajo</option>
                            <option *ngFor="let workForce of workForces" [ngValue]="workForce">{{workForce.arbpl}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="populating block" [(ngModel)]="reception.selectedBay">
                            <option value="-1" disabled>Seleccione la bahia</option>
                            <option *ngFor="let bay of bays" [ngValue]="bay">{{bay.descrip}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="v_mid_all block_divs relative">
                            <span class="wh1 inline {{reception.statordColor}} border_gray absolute left_0_240_st top_03_240_st"></span>
                            <span class="pad_l_2">{{ reception.descripord }}</span>
                        </div>
                    </td>
                    <td>
                        <label class="check_span">
                            <input type="checkbox" [(ngModel)]="reception.pC_STATUS" [checked]="reception.pC_STATUSChecked" />
                            <span class="v_mid_all pointer">
                            </span>
                        </label>
                    </td>
                    <td class="bck_gray0">
                        <a class="c_gray_2 pointer tooltipped" data-position="left" *ngIf="reception.selectedBay != '-1' && reception.selectedArbpl != '-1'" data-tooltip="Guardar cambios" (click)="changeReception(reception)"><i class="material-icons fs_15">save</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageWo_assignment = $event; renderSelect();"
                             id="Wo_assignmentPage"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>

</div>
