﻿
<div class="overflow_auto" *ngIf="havePermission">
    <table class='striped highlight'>
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Orden</th>
                <th>CM</th>
                <th>Descripción CM</th>
                <th>C&oacute;digo de material</th>
                <th>Descripci&oacute;n</th>
                <th>UM</th>
                <th>Proveedor</th>
                <th>Fecha inicio</th>
                <th>Hora inicio</th>
                <th>Tiempo de paro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stopControl of stopControls | paginate: { itemsPerPage: 10, currentPage: pageStopControl, id:'page_Stop_Control' }; let i = index">
                <td>{{stopControl.equnr}}</td>
                <td>{{stopControl.aufnr}}</td>
                <td>{{stopControl.ktsch}}</td>
                <td>{{stopControl.ltxA1}}</td>
                <td>{{stopControl.matnr}}</td>
                <td>{{stopControl.maktx}}</td>
                <td>{{stopControl.meins}}</td>
                <td>{{stopControl.namE1}}</td>
                <td>{{stopControl.fenot}}</td>
                <td>{{stopControl.hrnot}}</td>
                <td>{{stopControl.stoppagE_TIME}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageStopControl = $event"
                         id="page_Stop_Control"
                         class="bi-pagination text-right pad_t_3 block w100p"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
</div>
