<!-- Modal Structure -->
<div class="modal material_unloading_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- title -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Devoluci&oacute;n de material</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_auto h30_900_st pad_2_240_st">

                                    <div class="relative">

                                        <div class="column_container v_mid_all ">

                                            <div class="input-field g_s240_100p g_s900_33p pad_r_1_900_st">
                                                <div class="input-field relative">
                                                    <input placeholder="C&oacute;digo devoluci&oacute;n" [(ngModel)]="refund_code" id="refund_code" type="text" class="validate input-material-field fs_1 placeholder_top_form_input" disabled>
                                                    <label for="refund_code" class="active placeholder_top_form">C&oacute;digo devoluci&oacute;n</label>
                                                </div>
                                            </div>

                                            <div class="relative g_s240_100p g_s900_33p pad_lr_1_900_st">
                                                <div class="input-field relative">
                                                    <input placeholder="Puesto de trabajo" id="work_station" [(ngModel)]="work_station" type="text" class="validate input-material-field fs_1 placeholder_top_form_input" disabled>
                                                    <label for="work_station" class="active placeholder_top_form">Puesto de trabjo</label>
                                                </div>
                                            </div>

                                            <div class="input-field g_s240_100p g_s900_33p pad_l_1_900_st">
                                                <div class="input-field relative">
                                                    <input placeholder="Orden" id="refund_order" [(ngModel)]="refund_order" type="text" class="validate input-material-field fs_1 placeholder_top_form_input" disabled>
                                                    <label for="refund_order" class="active placeholder_top_form">Orden</label>
                                                </div>
                                            </div>

                                        </div>

                                        <!--Buttons-->
                                        <div class="inline_divs pad_b_3 ">
                                            <div class="inline pad_lr_1">
                                                <a class="c_green_2 pointer" id="modalLoader" (click)="loadMessengerFromRefund()"><i class="material-icons lh_1p5">chat</i></a>
                                            </div>
                                            <div *ngIf="!isFromMaterialReturnControl">
                                                <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="saveRefund()">
                                                    Guardar
                                                </div>
                                            </div>

                                            <div *ngIf="isFromMaterialReturnControl && statusRefund != 'APROBADO'">
                                                <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="changeStatusMatDevolution('RECHAZADO')">
                                                    Regresar
                                                </div>
                                            </div>

                                            <div *ngIf="isFromMaterialReturnControl && havePermissionToApprove()">
                                                <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="changeStatusMatDevolution('APROBADO')">
                                                    Aprobar
                                                </div>
                                            </div>

                                            <div *ngIf="isFromMaterialReturnControl && statusRefund == 'APROBADO' && sessionInfo && sessionInfo.RoleName == 'SupervisorADF'">
                                                <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="print(refund_code,refund_order)">
                                                    Imprimir
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <!--table material unloading-->
                                    <div class="overflow_auto" *ngIf="!isFromMaterialReturnControl">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th>C&oacute;digo de CM</th>
                                                    <th>Descripci&oacute;n CM</th>
                                                    <th>C&oacute;digo material</th>
                                                    <th>Descripci&oacute;n material</th>
                                                    <th>UM</th>
                                                    <th>Cantidad entregada</th>
                                                    <th>Cantidad a devolver</th>
                                                    <th>Cantidad devuelta</th>
                                                    <th>Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let matUnloading of matUnloadings | paginate: { itemsPerPage: 10, currentPage: pageMatUnloading, id:'pageMatUnloading' }; let i = index">
                                                    <td>{{matUnloading.ktsch}}</td>
                                                    <td>{{matUnloading.ltxA1}}</td>
                                                    <td>{{matUnloading.matnr}}</td>
                                                    <td>{{matUnloading.maktg}}</td>
                                                    <td>{{matUnloading.meins}}</td>
                                                    <td>{{matUnloading.bdmng}}</td>
                                                    <td>
                                                        <input type="number" [(ngModel)]="matUnloading.cantdev" max="{{matUnloading.bdmng}}" min="1" step="0.01" (change)="evalCant(matUnloading)" (keyup)="evalCant(matUnloading)" />
                                                    </td>
                                                    <td class="text-center"><strong>{{matUnloading.cantdevuelta}}</strong></td>
                                                    <td>
                                                        <label class="check_span">
                                                            <input type="checkbox" [(ngModel)]="matUnloading.checked" />
                                                            <span class="v_mid_all pointer">
                                                            </span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMatUnloading = $event;"
                                                             id="pageMatUnloading"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                    <!--table material devolution-->
                                    <div class="overflow_auto" *ngIf="isFromMaterialReturnControl">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th class="text-center">C&oacute;digo de CM</th>
                                                    <th class="text-left">Descripci&oacute;n CM</th>
                                                    <th class="text-center">C&oacute;digo material</th>
                                                    <th class="text-left">Descripci&oacute;n material</th>
                                                    <th class="text-center">UM</th>
                                                    <th class="text-center">Cantidad entregada</th>
                                                    <th class="text-center">Cantidad a devolver</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let matDev of matDevolutionDetailList | paginate: { itemsPerPage: 10, currentPage: pageMatUnloading, id:'pageMatUnloading' }; let i = index">
                                                    <td class="text-center">{{matDev.ktsch}}</td>
                                                    <td class="text-left">{{matDev.txt}}</td>
                                                    <td class="text-center">{{matDev.matnr}}</td>
                                                    <td class="text-left">{{matDev.maktx}}</td>
                                                    <td class="text-center">{{matDev.meinh}}</td>
                                                    <td class="text-center">{{matDev.cantentr}}</td>
                                                    <td class="text-center">{{matDev.cantdev}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMatUnloading = $event;"
                                                             id="pageMatUnloading"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            <!--<span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="addRefund()">Agregar devoluci&oacute;n</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>