<!-- Modal Structure -->
<div class="modal search_materials_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Busqueda de materiales</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div class="relative pad_r_5_1024_st">

                                        <div class="column_container v_mid_all pad_r_4_1024_st pad_b_3">

                                            <div class="input-field g_s240_100p g_s900_33p pad_r_1_900_st" *ngIf="!immediateConsumption">
                                                <div class="input-field relative">
                                                    <input placeholder="Digite el código" id="material_code" type="text" [(ngModel)]="filterCode" class="validate input-material-field fs_1 placeholder_top_form_input">
                                                    <label for="material_code" class="active placeholder_top_form">Código</label>
                                                </div>
                                            </div>

                                            <div class="relative g_s240_100p g_s900_33p pad_lr_1_900_st">
                                                <div class="input-field relative">
                                                    <input placeholder="Digite la descripción" id="material_description" type="text" [(ngModel)]="filterDescription" class="validate input-material-field fs_1 placeholder_top_form_input">
                                                    <label for="material_description" class="active placeholder_top_form">Descripción</label>
                                                </div>
                                            </div>

                                            <div class="g_s240_100p g_s900_33p pad_l_1_900_st" *ngIf="!immediateConsumption">
                                                <div class="relative lh_06">
                                                    <label class="active placeholder_top_form block">Grupo de articulos</label>
                                                    <select class="block" [(ngModel)]="filterGroup">
                                                        <option value="-1" selected>Seleccione el grupo</option>
                                                        <option *ngFor="let group of groups" [ngValue]="group.matkl">{{ group.wgbez }}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="g_s240_100p">
                                                <div class="check_span">
                                                    <label class="check_span">
                                                        <input type="checkbox" [(ngModel)]="immediateConsumption" [checked]="immediateConsumption" (ngModelChange)="immediateChange()" />
                                                        <span class="v_mid_all pointer">
                                                            <span class="btn_ovalo bck_yellow_light italic fs_09 mar_l_2 inline">
                                                                Consumo inmediato
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>



                                        <!--Buttons-->
                                        <div class="absolute_1024_st top_3_1024_st right_0_1024_st inline_divs pad_b_0_1024 pad_b_2" *ngIf="!immediateConsumption">

                                            <div>
                                                <div class="c_green_2 lh_1p5 wh2 circle bck_green_lighter waves-effect pointer waves-light" (click)="filterMaterials()">
                                                    <div class="material-icons fs_14 lh_14 wh1p4 center_absolute">search</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="clean()">
                                                    Limpiar
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <!--table-->
                                    <div class="overflow_auto" *ngIf="!immediateConsumption">
                                        <table class='striped highlight'>
                                            <caption>Resultado de la busqueda</caption>
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Código</th>
                                                    <th class="text-center">Descripción</th>
                                                    <th class="text-center">Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let mat of materials | paginate: { itemsPerPage: 10, currentPage: pageMaterialSearch, id:'pageMaterial_Search' }; let i = index">
                                                    <td class="text-center">{{mat.matnr}}</td>
                                                    <td class="text-left">{{mat.maktx}}</td>
                                                    <td class="text-center">
                                                        <label class="check_span">
                                                            <input type="checkbox" [checked]="mat.selected" [(ngModel)]="mat.selected" (change)="onSelect(mat)" />
                                                            <span class="v_mid_all pointer">
                                                            </span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMaterialSearch = $event;"
                                                             id="pageMaterial_Search"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                    <!--table-->
                                    <div class="overflow_auto" *ngIf="!immediateConsumption">
                                        <table class='striped highlight'>
                                            <caption>Materiales agregados</caption>
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Código</th>
                                                    <th class="text-center">Descripción</th>
                                                    <th class="text-center">Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let mat of temporaryMaterials | paginate: { itemsPerPage: 10, currentPage: pageMaterialSearchTemporary, id:'pageMaterial_SearchTemporary' }; let i = index">
                                                    <td class="text-center">{{mat.matnr}}</td>
                                                    <td class="text-left">{{mat.maktx}}</td>
                                                    <td class="text-center">
                                                        <label class="check_span">
                                                            <input type="checkbox" [checked]="mat.selected" [(ngModel)]="mat.selected" (change)="onDeselect(mat)" />
                                                            <span class="v_mid_all pointer">
                                                            </span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMaterialSearchTemporary = $event;"
                                                             id="pageMaterial_SearchTemporary"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="addMaterial()">Agregar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>