<!-- Modal Structure -->
<div class="modal equipment_detail_modal h43_900_st max_w_80 focus_active_none" style="max-width: 200rem !important;">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="equipHistory" class="pad_r_05">
                                        <span class="c_green_3">Detalle por Equipo</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div>
                                        <div>
                                            <div class="pad_tb_05 inline_divs">
                                                <div class="c_black bolder c_green_2">Equipo {{wAEQUNR}} :</div>
                                                <div>{{descEquip}}</div>
                                            </div>
                                            <div class="pad_tb_05 inline_divs">
                                                <div class="c_black bolder c_green_2">Recepcion : </div>
                                                <div>{{fecRecep}} {{hrRecep}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pad_b_15">
                                        <div>
                                            <div class="pad_tb_05 inline_divs">
                                                <div class="c_black bolder c_green_2">Sub - Equipo {{numSubEquip}} :</div>
                                                <div>{{descSubEquip}}</div>
                                            </div>
                                            <div class="pad_tb_05 inline_divs">
                                                <div class="c_red">Tiempo en taller :</div>
                                                <div>{{tiempoTaller}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th>Orden</th>
                                                    <th>Descripcion</th>
                                                    <th>Especialidad</th>
                                                    <th>F y H Inicio</th>
                                                    <th>F y H Fin</th>
                                                    <th>Tiempo en Cola</th>
                                                    <th>Tiempo de Ejecucion</th>
                                                    <th>Tiempo Paro</th>
                                                    <th>Tiempo Teorico</th>
                                                    <th>Desviacion</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let detail of details | paginate: { itemsPerPage: 10, currentPage: pageEquipmentDetail, id:'page_Equipment_Detail' }; let i = index">
                                                    <td class="text-center">{{detail.aufnr}}</td>
                                                    <td class="text-center">{{detail.descorden}}</td>
                                                    <td class="text-center">{{detail.especialidad}}</td>
                                                    <td class="text-center">{{detail.fechA_INICIO}}-{{detail.horA_INICIO}}</td>
                                                    <td class="text-center">{{detail.fechA_FIN}}-{{detail.horA_FIN}}</td>
                                                    <td class="text-center">{{detail.tcola}}</td>
                                                    <td class="text-center">{{detail.tejecucion}}</td>
                                                    <td class="text-center">{{detail.tparo}}</td>
                                                    <td class="text-center">{{detail.tplanificado}}</td>
                                                    <td class="text-center">{{detail.tdesvio}}</td>
                                                    <td class="text-center">{{detail.estatus}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot *ngIf="showFooter">
                                                <tr>
                                                    <td>TOTAL</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{footer.tcola}}</td>
                                                    <td>{{footer.tejecucion}}</td>
                                                    <td>{{footer.tparo}}</td>
                                                    <td>{{footer.tplanificado}}</td>
                                                    <td>{{footer.tdesvio}}</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                   
                                    <pagination-controls (pageChange)="pageEquipmentDetail = $event"
                                                         id="page_Equipment_Detail"
                                                         class="bi-pagination text-right pad_t_3 block w100p"
                                                         autoHide="true"
                                                         previousLabel="Anterior"
                                                         nextLabel="Siguiente"></pagination-controls>
                                    
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>