﻿<div class="overflow_auto" *ngIf="havePermission">
    <ul class="tabs tabs-fixed-width c_black_all mar_auto">
        <li class="tab ">
            <a class="active capitalize fs_09" href="#equipmentCreate">
                CREADO ({{equipmentSummaryCreated.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#equipmentProcess">
                PROCESO ({{equipmentSummaryProcess.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#equipmentConcluded">
                CONCLUIDO ({{equipmentSummaryConcluded.length}})
            </a>
        </li>
    </ul>
    <div class="pad_t_2">
        <div class="">
            <!-- body -->
            <div id="equipmentCreate" class="active">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">No. Equipo</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Responsable</th>
                            <th class="text-center">Fecha recepci&oacute;n</th>
                            <th class="text-center">Tipo de servicio</th>
                            <th class="text-center">Suma de tiempo a hoy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of equipmentSummaryCreated | paginate: { itemsPerPage: 10, currentPage: pageEquipmentSummaryCreated, id:'page_equipment_summary_created' }; let i = index">
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.deqsup}}</td>
                            <td class="text-center">{{summary.respon}}</td>
                            <td class="text-center">{{summary.fechA_R}}</td>
                            <td class="text-center">{{summary.tdescrip}}</td>
                            <td class="text-center">{{summary.tiempot}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageEquipmentSummaryCreated = $event"
                                     id="page_equipment_summary_created"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="equipmentProcess">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">No. Equipo</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Responsable</th>
                            <th class="text-center">Fecha recepci&oacute;n</th>
                            <th class="text-center">Tipo de servicio</th>
                            <th class="text-center">Suma de tiempo a hoy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of equipmentSummaryProcess | paginate: { itemsPerPage: 10, currentPage: pageEquipmentSummaryProcess, id:'page_equipment_summary_process' }; let i = index">
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.deqsup}}</td>
                            <td class="text-center">{{summary.respon}}</td>
                            <td class="text-center">{{summary.fechA_R}}</td>
                            <td class="text-center">{{summary.tdescrip}}</td>
                            <td class="text-center">{{summary.tiempot}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageEquipmentSummaryProcess = $event"
                                     id="page_equipment_summary_process"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="equipmentConcluded">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">No. Equipo</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Responsable</th>
                            <th class="text-center">Fecha recepci&oacute;n</th>
                            <th class="text-center">Tipo de servicio</th>
                            <th class="text-center">Suma de tiempo a hoy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of equipmentSummaryConcluded | paginate: { itemsPerPage: 10, currentPage: pageEquipmentSummaryConcluded, id:'page_equipment_summary_concluded' }; let i = index">
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.deqsup}}</td>
                            <td class="text-center">{{summary.respon}}</td>
                            <td class="text-center">{{summary.fechA_R}}</td>
                            <td class="text-center">{{summary.tdescrip}}</td>
                            <td class="text-center">{{summary.tiempot}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageEquipmentSummaryConcluded = $event"
                                     id="page_equipment_summary_concluded"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>
