<div class="parent-container pad_l_15r_1024_st unselected">
    <div>
        <nav-menu></nav-menu>
    </div>
    <div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <comment></comment>
    <notification></notification>
    <closure-reason></closure-reason>
    <replacement-blocker></replacement-blocker>
    <external-service-blocker></external-service-blocker>
    <instruction-checklist></instruction-checklist>
    <materials></materials>
    <materials-authorizer></materials-authorizer>
    <refund-material-list></refund-material-list>
    <material-unloading></material-unloading>
    <equipment-history></equipment-history>
    <equipment-detail></equipment-detail>
    <service-request></service-request>
    <service-reception></service-reception>
    <Advice></Advice>
    <alert-control></alert-control>
    <pending-work-confirm></pending-work-confirm>
    <pending-work></pending-work>
    <quality-test-control-popup></quality-test-control-popup>
    <closure-return></closure-return>
    <alert-questionnaire></alert-questionnaire>
    <service-print-template></service-print-template>
    <div class="pad_b_2_240_st pad_lr_2_240_st pad_b_2_900_st pad_lr_4_900_st pad_t_0_1024_st fixed_bl_1024_st w100p z-1">
        <div class="column_container text-center c_gray opa_50 v_mid_all pad_l_15r_1024_st">
            <div class="g_s240_100p text-left_700_st g_s1024_33p">
                <div class="fs_08 ls_1">BI.S.A</div>
            </div>
            <div class="g_s240_100p g_s700_70p pad_tb_1_240_st text-left_700_st text-center_1024_st g_s1024_33p pad_tb_0_1024_st">
                <div class="fs_08 ls_1">© {{fullYear}}. COMPA&Ntilde;IA CERVECERA DE NICARAGUA</div>
            </div>
            <div class="g_s240_100p g_s700_30p text-right_700_st g_s1024_33p opa_60">
                <div class="w4p4 overflow_h inline wauto_700_st">
                    <div class="icon h3 w10 h4_900_st w13_900_st logo_ccn_gray"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal to Return with message-->
<div class="modal closure_return_modal h20_900_st focus_active_none max_w_35 h20">

    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st">
            
            <div class="pad_2 relative">
                <label  for="comentario_dev" class="pad_b_2 fs_1 relative block">
                    <span class="c_gray_2 block">Deja tu comentario sobre la devoluci&oacute;n</span>
                    <span class="h1px w100p bck_gray absolute_bl_240_st block"></span>
                </label>
                <div>
                    <textarea id="comentario_dev" [(ngModel)]="reasonToReturn" class="materialize-textarea fs_1 overflow_auto max_h_5"></textarea>
                    <label for="comentario_dev">Ingrese el texto...</label>
                </div>

                <div class="text-center pad_t_1">
                    <a class="btn_ovalo c_white bck_green_degrade lh_07 bolder uppercase trans_05 hover pointer" (click)="addReasonToReturn()">
                        <span class="block pad_lr_03">
                            <i class="material-icons fs_11">send</i>
                        </span>
                    </a>
                </div>
                <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_1_240_st "></span>
            </div>

        </div>
    </div>
</div>

<loader class="fixed_default midd_container bck_black_07 wh100p z99999 trans_05" id="preloader"></loader>
