<!-- Modal Structure -->
<div class="modal equipment_history_modal h43_900_st max_w_80 focus_active_none">
    <div class=" w100p box_sizing">
        <div class=" w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">


                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <!-- integrantes -->
                    <div class="relative  team_chat_container trans_05">

                        <div class="w100p">
                            <div class="w100p overflow_h">
                                <div class="team_chat trans_05">

                                    <span id="equipHistory" class="pad_r_05">
                                        <span class="c_green_3">Historial de Mantenimiento de Equipo</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split hauto_900_st overflow_auto bck_white">
                    <div class="h30_900_st relative box_sizing ">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div class="relative g_s240_100p pad_r_5_480_st max_w_20 pad_b_1_480_st ">
                                        <div class="input-field pad_r_2">
                                            <div class="input-field relative"></div>
                                            <input placeholder="Fecha de inicio c_gray_2" type="date" [(ngModel)]="fechaFilter" id="equipmentSup" class="validate input-material-field fs_1 placeholder_top_form_input">
                                            <label for="equipmentSup" class="active placeholder_top_form">Fecha de inicio</label>
                                        </div>
                                        <div class="absolute_480_st right_0_480_st top_1_480_st pad_b_2 pad_b_0_480_st">
                                            <span class="inline c_white bck_green_3 bck_yellow_hover trans_05 btn_ovalo fs_08 pointer uppercase" (click)="filterByDate()">Procesar</span>
                                        </div>
                                    </div>

                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight'>
                                            <thead>
                                                <tr>
                                                    <th rowspan="3">Orden</th>
                                                    <th rowspan="3">Fecha Fin Extremo</th>
                                                    <th colspan="1">Clave Modelo</th>
                                                    <th colspan="1">Texto Breve Operacion</th>
                                                    <th colspan="1">Kilometraje</th>
                                                    <th colspan="1">Puesto de trabajo</th>
                                                </tr>
                                                <tr>
                                                    <th class="bck_green_2">Componente</th>
                                                    <th class="bck_green_2">Denominacion</th>
                                                    <th class="bck_green_2">U/M</th>
                                                    <th class="bck_green_2">Cant.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let source of sources | paginate: { itemsPerPage: 10, currentPage: pageEquipmentHistory, id:'page_Equipment_History' }; let i = index">
                                                    <td>{{source.aufnr}}</td>
                                                    <td>{{source.gltrp}}</td>
                                                    <td>
                                                        {{source.ktsch}}
                                                        <table>
                                                            <tr *ngFor="let item of source.component_History_List">
                                                                <td>{{item.matnr}}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        {{source.ltxA1}}
                                                        <table>
                                                            <tr *ngFor="let item of source.component_History_List">
                                                                <td>{{item.maktx}}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>{{source.klm}}
                                                        <table>
                                                            <tr *ngFor="let item of source.component_History_List">
                                                                <td>{{item.unidad}}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        {{source.arbpl}}
                                                        <table>
                                                            <tr *ngFor="let item of source.component_History_List">
                                                                <td>{{item.cant}}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageEquipmentHistory = $event"
                                                             id="page_Equipment_History"    
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_2 bck_white ">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer c_gray_2 c_hover_green_3 trans_05 bolder" (click)="cancel()">Cancelar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>