﻿<top-menu> </top-menu>

<ul id="slide-out" class="sidenav sidenav-fixed w15_1024_st w20_240_st pad_t_45_1024_st z3_1024_st unselected">
    <li class="to_1024 text-center">
        <div class="user-view">
            <a href="#!user" class="block text-center mar_b_1"><img class="circle mar_auto" src='/Content/images/pic_test.jpg'></a>
            <a href="#!email" class="block text-center mar_auto"><span class="c_green_1 email lowercase ellipsis" *ngIf="sessionInfo" title="{{sessionInfo.UserName}}">{{sessionInfo.UserName}}</span></a>
        </div>
    </li>

    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'SupervisorADF'">
        <a [routerLink]="['/bandeja-de-entrada']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada supervisor','Asignaci&oacute;n OT')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Bandeja
            </span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'VerificadorADF'">
        <a [routerLink]="['/bandeja-de-entrada-verificador']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada verificador','Control Prueba de Calidad')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Verificador
            </span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'TecnicoADF'">
        <a [routerLink]="['/bandeja-de-entrada-tecnico']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada t&eacute;cnico',' OT Asignadas')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Bandeja
            </span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'AutorizadorADF'">
        <a [routerLink]="['/bandeja-de-entrada-autorizador']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada Autorizador',' OT Asignadas')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Autorizador
            </span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'ProgramadorADF'">
        <a [routerLink]="['/bandeja-de-entrada-programador']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada Programador',' Procesar Requisa')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Bandeja
            </span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="menu_item pad_lr_1 pad_b_05" *ngIf="sessionInfo && sessionInfo.RoleName == 'GenericoADF'">
        <a [routerLink]="['/bandeja-de-entrada-generico']" class="relative" (click)="setBreadcrumbs('Bandeja de entrada Generico','Asignar recepci&oacute;n OT')">
            <span class="pad_l_2 block fs_1">
                <i class="material-icons absolute left_1_240_st top_0_240_st lh_35 fs_12">&#xE153;</i>Bandeja
            </span>
        </a>
    </li>
    <li class="mar_t_1 pad_lr_1">
        <div class="h1px w100p mar_auto bck_gray1"></div>
        <div class="inline_divs text-center pad_t_2">
            <div class="circle bck_green_2 w05 h05"></div>
            <div class="circle bck_yellow w05 h05"></div>
        </div>
    </li>
</ul>
