<p *ngIf="!requirements"><em>Loading...</em></p>

<div>
    <div class="pad_b_1" *ngIf="!renderFromAuthorizer">
        <div class="relative pad_r_10_480_st h2p5">
            <div class="fs_09 text-right v_mid_all absolute_br_480_st pad_t_1_240_st pad_t_0_480_st">

                <div class="action dropdown-trigger inline" data-target='actions_2'>
                    <i class="c_green_2 material-icons btn_ovalo_sm bck_green_lighter lh_1p5 waves-effect"><i class="material-icons">&#xE5D3;</i></i>
                </div>

                <!-- Dropdown Structure -->
                <ul id='actions_2' class='dropdown-content'>
                    <li (click)="approveRequirement()" *ngIf="existPermission('52')"><span>Aprobar CM</span></li>
                    <li (click)="approveMaterials()"><span>Aprobar Materiales</span></li>
                    <li (click)="returnRequirement()"><span>Retornar</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th class="text-center">No Requisa</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Costo $</th>
                    <th class="text-center"><i class="material-icons">delete</i></th>
                    <th class="text-center">CM</th>
                    <th class="text-center"><i class="material-icons">chat</i></th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Materiales</th>
                    <th class="text-center">Servicio externo</th>
                    <th class="text-center">Proveedor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requirement of requirements | paginate: { itemsPerPage: 10, currentPage: pageSupervisorRequirement, id:'page_Supervisor_Requirement' }; let i = index">
                    <td class="text-center">
                        <span class="inline pad_lr_1">{{requirement.nrequisa}}</span>
                        <div class="inline pad_lr_1"><a class="c_green_2 pointer" (click)="loadMessengerRequirement(requirement)"><i class="material-icons lh_1p5">chat</i></a></div>
                    </td>
                    <td class="text-center">{{requirement.status}}</td>
                    <td class="text-center">{{requirement.costo}}</td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center">
                                    <label class="check_span">
                                        <input type="checkbox" [(ngModel)]="zadf.peticionborrado" (click)="preventBorrado($event)" [checked]="zadf.peticionborrado" (ngModelChange)="updtSRVEX(zadf)"/>
                                        <span class="v_mid_all pointer">
                                        </span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center">{{zadf.ktsch}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center"><div class="inline"><a class="c_green_2 pointer" (click)="loadMessengerRequirement(requirement,zadf.ktsch)"><i class="material-icons">chat</i></a></div></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center">{{zadf.txtclave}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let requopr of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center">
                                    <span (click)="loadMaterials(requopr.vornr,requirement.nrequisa,requopr.ktsch,requirement.status,requopr.txtclave)" class="btn_ovalo_sm fs_1 boldemort relative pointer">
                                        <span class="relative z1">{{requopr.lst_ZADF_REQUMAT.length}}</span>
                                        <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="text-center">
                                    <label class="check_span">
                                        <input type="checkbox" [(ngModel)]="zadf.srvex" [checked]="zadf.srvex == '1'" (click)="srvexClick($event)" />
                                        <span class="v_mid_all pointer">
                                        </span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let zadf of requirement.lst_ZADF_REQUOPR">
                                <td class="relative overflow_v min_w_20">
                                    <select class="populating block absolute left_0_240_st bottom_05_240_st w100p" [(ngModel)]="zadf.proveedor" (ngModelChange)="providerChange(zadf)" [disabled]="zadf.srvex != '1'" (mousedown)="preventProviderChange($event,zadf.srvex)">
                                        <option value="-1">Selecciona un proveedor</option>
                                        <option *ngFor="let provider of providers" [ngValue]="provider.lifnr">{{provider.namE1}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageSupervisorRequirement = $event"
                             id="page_Supervisor_Requirement"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

<model-key></model-key>
<material-search></material-search>
