<!--Modal to Return with message-->
<div class="modal closure_return_component_modal h20_900_st focus_active_none max_w_35 h20">

    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st">

            <div class="pad_2 relative">
                <label for="comentario_dev" class="pad_b_2 fs_1 relative block">
                    <span class="c_gray_2 block">Deja tu comentario</span>
                    <span class="h1px w100p bck_gray absolute_bl_240_st block"></span>
                </label>
                <div>
                    <textarea id="comentario_dev" [(ngModel)]="reasonToReturnComponent" class="materialize-textarea fs_1 overflow_auto max_h_5"></textarea>
                    <label for="comentario_dev">Ingrese el texto...</label>
                </div>

                <div class="text-center pad_t_1">
                    <a class="btn_ovalo c_white bck_yellow lh_07 bolder uppercase trans_05 hover pointer" (click)="cancel()">
                        <span class="block pad_lr_03">
                            Salir
                        </span>
                    </a>
                    <a class="btn_ovalo c_white bck_green_degrade lh_07 bolder uppercase trans_05 hover pointer" (click)="addClosureReturn()">
                        <span class="block pad_lr_03">
                            <i class="material-icons fs_11">send</i>
                        </span>
                    </a>
                </div>
                <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_1_240_st "></span>
            </div>

        </div>
    </div>
</div>