<!-- Modal Structure -->
<div class="modal materials_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Materiales {{KTSCH}} {{cm_Description}}</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div class="relative pad_r_5_1024_st">

                                    </div>


                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight' *ngIf="materials">
                                            <thead>
                                                <tr>
                                                    <!--*ngIf="showOperations && !showDeleteColumn && !renderFromAuthorizer"-->
                                                    <th class="text-center" *ngIf="showOperations"><i class="material-icons">delete</i></th>
                                                    <th class="text-center"><i class="material-icons">chat</i></th>
                                                    <th class="text-center">Código</th>
                                                    <th class="text-center">Descripción</th>
                                                    <th class="text-center">Cantidad</th>
                                                    <th class="text-center" *ngIf="showOperations && !showDeleteColumn">Cantidad autorizada</th>
                                                    <th class="text-center">UM</th>
                                                    <th class="text-center">Costo</th>
                                                    <th class="text-center" *ngIf="showOperations && showDeleteColumn">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let mat of materials | paginate: { itemsPerPage: 10, currentPage: pageMaterials, id:'page_Material' }; let i = index">
                                                    <!--*ngIf="showOperations && !showDeleteColumn && !renderFromAuthorizer"-->
                                                    <td class="text-center" *ngIf="showOperations">
                                                        <i class="material-icons" *ngIf="mat.ptborr == '1' && !mat.isnew && showDeleteColumn">delete</i>
                                                        <label class="check_span" *ngIf="!showDeleteColumn">
                                                            <input type="checkbox" [checked]="mat.ptborr" [(ngModel)]="mat.ptborr" (change)="deleteRequest(mat)" (click)="clickRequest($event)" />
                                                            <span class="v_mid_all pointer">
                                                            </span>
                                                        </label>
                                                    </td>
                                                    <td class="text-center"><i class="material-icons pointer" (click)="loadMaterialMessenger(mat.matnr,mat.descripcion)" *ngIf="!mat.isnew">chat</i></td>
                                                    <td class="text-center">{{mat.matnr}}</td>
                                                    <td class="min_w_20 text-center" *ngIf="mat.cninm == '0' || mat.matnr != '0'">{{mat.maktx}}</td>
                                                    <td class="min_w_20 text-center" *ngIf="mat.cninm == '1' || mat.matnr == '0'">{{mat.descripcion}}</td>
                                                    <td class="text-center"><input type="number" [(ngModel)]="mat.cant" min="1" [disabled]="!(showOperations && showDeleteColumn)" (keypress)="evalKeyPress($event)" (change)="evalCant(mat)" class="max_w_5" /></td>
                                                    <td class="text-center" *ngIf="showOperations && !showDeleteColumn"><input type="number" [(ngModel)]="mat.cntaut" (keypress)="evalKeyPress($event)" (change)="evalCntaut(mat)" min="1" [disabled]="(!showOperations || renderFromAuthorizer) || supervisorCondition()" class="max_w_5" /></td>
                                                    <td class="text-center" *ngIf="mat.cninm != '0'"><input type="text" [(ngModel)]="mat.meins" /></td>
                                                    <td class="text-center" *ngIf="mat.cninm == '0'">{{mat.meins}}</td>
                                                    <td class="text-center">$ {{mat.cost}}</td>
                                                    <td class="text-center" *ngIf="showOperations && showDeleteColumn"><i class="material-icons pointer" *ngIf="((mat.ptborr || requirementStatus == 'CREA') && showDeleteColumn) || mat.isnew" (click)="updateStatus(mat)">close</i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMaterials = $event;"
                                                             id="page_Material"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="saveMaterials()" *ngIf="showOperations && showDeleteColumn">Guardar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="addMaterials()" *ngIf="showOperations && showDeleteColumn && !renderFromAuthorizer">Agregar materiales</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="approveMaterials()" *ngIf="showOperations && !showDeleteColumn && !renderFromAuthorizer">Aprobar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>