<div class="bck_white content_wrap sh heade_menu relative fixed_tl_1024_st w100p z3 z4_1024_st">
	<div class="pad_r_3 pad_l_6 relative column_container v_mid_all pad_r_0_1024_st">

		<!-- logo -->
		<div class="h4_240_st w4_240_st h3_1024_st w4_1024_st absolute top_0_240_st left_0_240_st bottom_0_240_st mar_auto only_480">
	        <div class="wh100p icon logo_ccn"></div>
	    </div>
		
		<!-- action menu -->
	    <div class="w2 h2 absolute top_0_240_st right_0_240_st bottom_0_240_st mar_auto pointer to_1024">
	        <a href="#" class="sidenav-trigger c_green_2" data-target="slide-out"><i class="material-icons">&#xE0B8;</i></a>
	    </div>

	    <!-- nav -->
	    <div class="text-left_240_st pad_l_7_480_st text-right_480_st text-left_1024_st g_s240_100p g_s1024_50p pad_l_15r_1024_st"  *ngIf="breadCrumbs">
	    	<!-- card-title -->
	    	<div class="bread-crumb btn_ovalo bck_yellow_light inline c_black">
	            <div class="ellipsis max_w_10_240_st max_w_15_480_st max_w_15_480_st max_w_20_700_st max_w_30_900_st max_w_none_1024_st" [innerHTML]="breadCrumbs">            
	            </div>
	    	</div>
	    </div>

	    <!-- inline profile links -->
        <div id="nav-mobile" class="inline_divs only_1024 g_s1024_50p text-right_1024_st v_mid_all">
            <div>
                <a (click)="showHideMenu()" class="sidenav-trigger c_green_2 pointer action_1024" data-target="slide-out"><i class="material-icons">&#xE0B8;</i></a>
            </div>
            <div class="mar_lr_2 bck_gray2 h1 w1px"></div>

            <div>
                <a href="" class="wh2p5 circle bck_gray1 mar_r_1 overflow_h relative">
                    <span class="absolute_tl_240_st wh100p bck_cover" style="background-image: url('../Content/images/pic_test.jpg')"></span>
                </a>
                <a href="#" class="login-info c_gray lowercase ellipsis max_w_10" *ngIf="sessionInfo" title="{{sessionInfo.UserName}}">{{sessionInfo.UserName}}</a>
            </div>

            <div class="mar_lr_2 bck_gray2 h1 w1px"></div>
            <div class="inline_divs v_mid_all">
                <span class="c_gray opa_50 fs_09">Alertas </span>
                <a class="{{alertColor}} opa_50 fs_09 mar_l_05 hover_yellow mar_t_05 pointer" (click)="showAlerts()">
                    <i class="material-icons">add_alert</i>
                </a>
                <span class="{{alertColor}} pointer" (click)="showAlerts()">({{alertCount}})</span>
            </div>
            <div class="mar_lr_2 bck_gray2 h1 w1px"></div>
            <div class="inline_divs v_mid_all"><span class="c_gray opa_50 fs_09">Salir </span><a href="#" class="c_gray opa_50 fs_09 mar_l_05 hover_yellow mar_t_05"><i class="material-icons">&#xE8AC;</i></a></div>
        </div>
	</div>
</div>