﻿<div class="overflow_auto" *ngIf="havePermission">
    <ul class="tabs tabs-fixed-width c_black_all mar_auto">
        <li class="tab ">
            <a class="active capitalize fs_09" href="#processSummaryReceived">
                RECEPCIONADO / RECHAZADO ({{processSummaryReceived.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#processSummaryAsigned">
                ASIGNADO ({{processSummaryAsigned.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#processSummaryReprocess">
                PROCESO / REPROCESO ({{processSummaryReprocess.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#processSummaryInspected">
                FIN DE BAHIA ({{processSummaryInspected.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#processSummaryQualityTest">
                VERIFICADO POR SUPERVISOR ({{processSummaryQualityTest.length}})
            </a>
        </li>
        <li class="tab ">
            <a class="capitalize fs_09" href="#processSummaryFinished">
                OT CONCLUIDA ({{processSummaryFinished.length}})
            </a>
        </li>
    </ul>
    <div class="pad_t_2">
        <div class="">
            <!-- body -->
            <div id="processSummaryReceived" class="active">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryReceived | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryReceived, id:'page_process_summary_received' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryReceived = $event"
                                     id="page_process_summary_received"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="processSummaryAsigned">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryAsigned | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryAsigned, id:'page_process_summary_asigned' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryAsigned = $event"
                                     id="page_process_summary_asigned"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="processSummaryReprocess">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryReprocess | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryReprocess, id:'page_process_summary_reprocess' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryReprocess = $event"
                                     id="page_process_summary_reprocess"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="processSummaryInspected">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryInspected | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryInspected, id:'page_process_summary_inspected' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryInspected = $event"
                                     id="page_process_summary_inspected"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="processSummaryQualityTest">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryQualityTest | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryQualityTest, id:'page_process_summary_quality_test' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryQualityTest = $event"
                                     id="page_process_summary_quality_test"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
            <div id="processSummaryFinished">
                <table class='striped highlight'>
                    <thead>
                        <tr>
                            <th class="text-center">Documento de recepci&oacute;n</th>
                            <th class="text-center">Equipo</th>
                            <th class="text-center">Orden</th>
                            <th class="text-center">Descripci&oacute;n</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of processSummaryFinished | paginate: { itemsPerPage: 10, currentPage: pageProcessSummaryFinished, id:'page_process_summary_finished' }; let i = index">
                            <td class="text-center">{{summary.rentnr}}</td>
                            <td class="text-center">{{summary.equnr}}</td>
                            <td class="text-center">{{summary.aufnr}}</td>
                            <td class="text-center">{{summary.ktext}}</td>
                            <td class="text-center">{{summary.femod}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageProcessSummaryFinished = $event"
                                     id="page_process_summary_finished"
                                     class="bi-pagination text-right pad_t_3 block w100p"
                                     autoHide="true"
                                     previousLabel="Anterior"
                                     nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>
