﻿<p *ngIf="!workOrderOperations"><em>Loading...</em></p>
<div class="">
    <div class="pad_b_1" *ngIf="workOrderHeader[0]">
        <div class="relative pad_r_10_480_st">
            <div class="relative">
                <div class="pad_b_1" *ngIf="lightColor">
                    <a class="{{lightColor}} circle pulse w04 h04 btn-floating "></a>
                    <span class="pad_l_1 c_gray opa_50 fs_09"></span>
                </div>
                <div class="inline_divs">
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Orden:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header orden_header btn_ovalo_sm">{{workOrderHeader[0].aufnr}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Bahía:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header bahia_header btn_ovalo_sm">{{workOrderHeader[0].bahia || 0}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Equipo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header equipo_header btn_ovalo_sm">{{workOrderHeader[0].equnr}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">KM Prog:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header km_header btn_ovalo_sm">{{workOrderHeader[0].kmprg}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Costo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header cost_header btn_ovalo_sm">${{workOrderHeader[0].costo}}</div>
                    </div>
                    <div class="inline_divs pad_r_1 v_mid_all">
                        <div class="pad_tb_05">Modelo:</div>
                        <div class="pad_tb_03 pad_lr_1 card-header cost_header btn_ovalo_sm">{{workOrderHeader[0].modelo}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow_auto ">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th></th>
                    <th>Origen</th>
                    <th>Operación</th>
                    <th>CM</th>
                    <th>Descripción</th>
                    <th>Materiales</th>
                    <th>SE</th>
                    <th>Prov</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operation of workOrderOperations | paginate: { itemsPerPage: 10, currentPage: pageWoDetailAuthorizer, id:'page_Wo_Detail_Authorizer' }; let i = index">
                    <td>
                        <div class="material-icons c_blue fs_13" *ngIf="operation.existCheckList && !operation.pendingCheckList">done_all</div>
                        <div class="material-icons c_gray_2 fs_13" *ngIf="operation.existCheckList && operation.pendingCheckList">done</div>
                    </td>
                    <td>{{operation.origen}}</td>
                    <td>{{operation.vornr}}</td>
                    <td>{{operation.ktsch}}</td>
                    <td>{{operation.txt}}</td>
                    <td><a class="pointer" (click)="loadMaterialsAuthorizer(operation.vornr)">{{operation.toT_MAT}}</a>    </td>
                    <td>
                        <label class="check_span">
                            <input type="checkbox" [checked]="operation.srvex == 'X'" disabled readonly />
                            <span class="v_mid_all pointer relative">
                            </span>
                        </label>
                    </td>
                    <td>{{operation.lifnr}}</td>
                    <td>{{operation.ulT_MOTIVO}}</td>
                    <td>
                        <!--<a class="c_gray_2 pointer tooltipped" data-position="left" data-tooltip="Notificar" (click)="notify(operation)"><i class="material-icons fs_15 c_hover_green_3 trans_05">notifications_active</i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination-controls (pageChange)="pageWoDetailAuthorizer = $event"
                         id="page_Wo_Detail_Authorizer"
                         class="bi-pagination text-right pad_t_3 block w100p"
                         autoHide="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
</div>