﻿<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2">
                <label class="active placeholder_top_form block">Supervisor</label>
                <select [(ngModel)]="filterSelectedSupervisor" (ngModelChange)="changeSupervisor()" class="block">
                    <option value="-1" selected>Seleccione el supervisor</option>
                    <option *ngFor="let supervisor of supervisor" [ngValue]="supervisor.usuario">{{ supervisor.usuario }}</option>
                </select>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06 mar_tb_2">
                <label class="active placeholder_top_form block">Estado</label>
                <select [(ngModel)]="filterSelectedStatus" (ngModelChange)="changeSupervisor()" class="block">
                    <option value="-1" selected>Seleccione el estado</option>
                    <option *ngFor="let status of statuses" [ngValue]="status.statord">{{ status.descripord }}</option>
                </select>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative">
                <div>
                    <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="orderPC()">
                        Enviar PC
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th class="text-center">Nro. Equipo</th>
                    <th class="text-center">Nro. Orden</th>
                    <th class="text-center">Puesto de trabajo</th>
                    <th class="text-center">Bah&iacute;a</th>
                    <th class="text-center"><i class="material-icons">chat</i></th>
                    <th class="text-center">T. pendientes</th>
                    <th class="text-center">Regresar</th>
                    <th class="text-center">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finishWorkOrder of finishWorkOrders | paginate: { itemsPerPage: 10, currentPage: pageFinishWorkOrder, id:'page_finish_work_order' }; let i = index">
                    <td class="text-center">{{finishWorkOrder.equnr}}</td>
                    <td>{{finishWorkOrder.aufnr}}</td>
                    <td class="text-center">
                        <select [(ngModel)]="finishWorkOrder.arbpl" class="block" disabled>
                            <option value="-1" selected>Seleccione el puesto de trabajo</option>
                            <option *ngFor="let workforce of workForces" [ngValue]="workforce.arbpl">{{ workforce.arbpl }}</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <select [(ngModel)]="finishWorkOrder.bahia" class="block" disabled>
                            <option value="-1" selected>Seleccione la bahia</option>
                            <option *ngFor="let bay of bays" [ngValue]="bay.bahia">{{ bay.descrip }}</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <i class="material-icons pointer" (click)="loadMessenger(finishWorkOrder)">chat</i>
                    </td>
                    <td class="text-center">
                        <span (click)="loadPendingWorks(finishWorkOrder)" class="btn_ovalo_sm fs_1 boldemort relative pointer">
                            <span class="relative z1">T. pendientes</span>
                            <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                        </span>
                    </td>
                    <td class="text-center">
                        <span (click)="returnWO(finishWorkOrder)" class="btn_ovalo_sm fs_1 boldemort relative pointer">
                            <span class="relative z1">Regresar</span>
                            <span class="bck_yellow opa_40 wh100p absolute_default btn_ovalo_sm"></span>
                        </span>
                    </td>
                    <td class="text-center">
                        <label class="check_span">
                            <input type="checkbox" [(ngModel)]="finishWorkOrder.checked" />
                            <span class="v_mid_all pointer relative">
                            </span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageFinishWorkOrder = $event"
                             id="page_finish_work_order"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

