﻿<div class="pad_t_7p5_1024">
    <div class="content_wrap bck_white pad_tb_0 fixed_1024_st top_3p5_1024_st z2_1024_st left_0_1024_st w100p pad_l_15r_1024_st pad_r_2_1024 full_width_selection unselected">
        <div class="pad_l_4_1024_st relative">
            <!-- vertical split -->
            <div class="split_web_submenu only_1024 absolute_tl_1024_st bottom_0_1024_st mar_auto w3px h60p bck_yellow">
                <div class="absolute_tl_240_st midd_container wh100p">
                    <div class="midd_cell pad_l_2">
                        <div class="circle bck_green_2 w04 h04"></div>
                        <div class="circle bck_yellow w04 h04 mar_t_03"></div>
                    </div>
                </div>
            </div>

            <ul class="tabs tabs-fixed-width c_black_all max_w_100 mar_auto">
                <li class="tab ">
                    <a class="active capitalize fs_09" href="#tabPurchaseRAProgramer" (click)="changeInboxTab('Procesar Requisa')">
                        Procesar Requisa
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabAssignReqOTProgrammer" class="capitalize fs_09" (click)="changeInboxTab('Asignar recepción OT')">
                        Asignar recepción OT
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabExternalWorkControlProgrammer" class="capitalize fs_09" (click)="changeInboxTab('Control trabajos externos')">
                        Control trabajos externos
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabStopControlProgrammer" class="capitalize fs_09" (click)="changeInboxTab('Control paros OT')">
                        Control paros OT
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabEquipmentSummaryProgrammer" class="capitalize fs_09" (click)="changeInboxTab('Resumen por equipo')">
                        Resumen por equipo
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabProcessSummaryProgrammer" class="capitalize fs_09" (click)="changeInboxTab('Resumen por proceso')">
                        Resumen por proceso
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_wrap body_container">
        <div class="pad_2_240_st pad_4_900_st bck_white body_white relative">

            <!-- title body navigation -->
            <div class="vertical_text uppercase ls_1 absolute w1 right_1p5_240_st top_0_240_st text-center fs_08 c_gray opa_50 only_1024 ellipsis pad_tb_4 h100p" [innerHTML]="navigation">
            </div>

            <!-- body -->
            <purchase-requisition-authorization id="tabPurchaseRAProgramer" class="overflow_auto"></purchase-requisition-authorization>
            <assign-reception-ot id="tabAssignReqOTProgrammer" class="overflow_auto"></assign-reception-ot>

            <div class="overflow_auto" id="tabExternalWorkControlProgrammer"></div>

            <stop-control class="overflow_auto" id="tabStopControlProgrammer"></stop-control>
            <equipment-summary class="overflow_auto" id="tabEquipmentSummaryProgrammer"></equipment-summary>
            <process-summary class="overflow_auto" id="tabProcessSummaryProgrammer"></process-summary>
        </div>
    </div>
</div>