<!-- Modal Structure -->
<div class="modal notification_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st overflow_h">

                <div>
                    <div class="pad_2 fs_1 c_gray  relative ">

                        <!-- split -->
                        <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                        <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                            <!-- integrantes -->
                            <div class="w100p h2">
                                <div class="w100p overflow_h only_700">
                                    <div class="team_chat trans_05">

                                        <span id="actorList" class="pad_r_05">
                                            <span class="c_green_3">Notificaci&oacute;n CM: {{cmDescription}}</span>
                                        </span>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="border_tb_split special_height hauto_900_st">
                        <div class="h30_900_st relative box_sizing">

                            <div class="relative">

                                <div class="">
                                    <div class="overflow_auto h30_900_st pad_2_240_st">

                                        <div class="inline_divs v_mid_all">

                                            <div class="input-field w5 text-center c_hover_all hover_icon_all pointer" (click)="notificationStart()" *ngIf="renderNotificationStart">
                                                <span class="block c_green_2 wh3 circle bck_green_lighter_hover waves-effect pointer waves-light text-center mar_auto"><span class="material-icons fs_2 center_absolute h1p5 lh_15 block text-center">play_arrow</span></span>
                                                <span class="block fs_09 italic c_gray c_hover_green_3">Inicio</span>
                                            </div>

                                            <div class="input-field w5 text-center c_hover_all hover_icon_all pointer" (click)="loadClosureReason()" *ngIf="!renderNotificationStart">
                                                <span class="block c_green_2 wh3 circle bck_green_lighter_hover waves-effect pointer waves-light text-center mar_auto"><span class="material-icons fs_2 center_absolute h1p5 lh_15 block text-center">stop</span></span>
                                                <span class="block fs_09 italic c_gray c_hover_green_3">Fin</span>
                                            </div>

                                            <div class="input-field w5 text-center c_hover_all hover_icon_all pointer" (click)="loadMessengerNofication()">
                                                <span class="block c_green_2 wh3 circle bck_green_lighter_hover waves-effect pointer waves-light text-center mar_auto"><span class="material-icons fs_15 center_absolute h1p5 lh_15 block text-center">chat</span></span>
                                                <span class="block fs_09 italic c_gray c_hover_green_3">Comentarios</span>
                                            </div>

                                            <div class="input-field w5 text-center c_hover_all hover_icon_all pointer" (click)="loadInstructions()" *ngIf="!renderNotificationStart">
                                                <span class="block c_green_2 wh3 circle bck_green_lighter_hover waves-effect pointer waves-light text-center mar_auto"><span class="material-icons fs_2 center_absolute h1p5 lh_15 block text-center">list</span></span>
                                                <span class="block fs_09 italic c_gray c_hover_green_3">Lista</span>
                                            </div>



                                        </div>

                                        <div class="w100p pad_t_2 relative">
                                            <div class="bolder pad_l_15 w100p">Clave modelo: {{title}}</div>
                                            <div class="w100p">
                                                <ngx-charts-bar-vertical [view]="view"
                                                                         [scheme]="colorScheme"
                                                                         [results]="single"
                                                                         [gradient]="gradient"
                                                                         [xAxis]="showXAxis"
                                                                         [yAxis]="showYAxis"
                                                                         [legend]="showLegend"
                                                                         [showXAxisLabel]="showXAxisLabel"
                                                                         [showYAxisLabel]="showYAxisLabel"
                                                                         [xAxisLabel]="xAxisLabel"
                                                                         [yAxisLabel]="yAxisLabel"
                                                                         (select)="onSelect($event)">
                                                </ngx-charts-bar-vertical>
                                            </div>
                                            <br clear="all">
                                            <div class="c_gray fs_09 italic pad_l_15 w100p absolute_bl_240_st">{{title}}</div>
                                        </div>
                                        <br clear="all">
                                        <div>
                                            <div class="input-field g_s240_100p">
                                                <div class="inline pad_lr_1"><a class="capitalize boldemort" [ngClass]="isNegativeTime ? 'c_red' : 'c_green_2'">{{reasonTime}}</a></div>
                                            </div>
                                        </div>


                                        <!--  <div class="chart">
                         </div> -->


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="pad_lr_2 pad_tb_1">
                        <div class="relative placeholder">
                            <div class="inline_divs text-right v_mid_all">
                                <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>