<!-- Modal Structure -->
<div class="modal pending_work_confirm_modal h43_900_st max_w_80 focus_active_none">
    <div class=" w100p box_sizing">
        <div class=" w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- integrantes -->
                    <div class="relative  team_chat_container trans_05">

                        <div class="w100p">
                            <div class="w100p overflow_h">
                                <div class="team_chat trans_05">

                                    <span id="advices" class="pad_r_05">
                                        <span class="c_green_3">Desea registrar trabajos pendientes?</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!--<div class="border_tb_split hauto_900_st overflow_auto bck_white">
                    <div class="h30_900_st relative box_sizing ">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">                                  

                                </div>

                            </div>

                        </div>

                    </div>

                </div>-->

                <div class="pad_2 bck_white ">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="confirm()">SI</span>
                            <span class="fs_08 uppercase pointer c_gray_2 c_hover_green_3 trans_05 bolder" (click)="cancel()">NO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>