<!-- Modal Structure -->
<div class="modal pending_work_modal h43_900_st max_w_80 focus_active_none">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 ">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h ">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Trabajos pendientes</span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div *ngIf="!showFromFinishWO">
                                        <div class="relative pad_r_5_1024_st">

                                            <div class="column_container v_mid_all pad_b_1">

                                                <div class="g_s240_100p g_s900_50p g_s900_33p g_s1024_25p pad_l_0_1024_st pad_r_2_1024_st">

                                                    <div class="relative lh_06 mar_t_2 mar_tb_2">
                                                        <label class="active placeholder_top_form block">Tipo de aviso</label>
                                                        <select class="block" [(ngModel)]="filterNoticeType" (change)="changeNoticeType()">
                                                            <option value="-1" selected>Seleccione el tipo de aviso</option>
                                                            <option *ngFor="let notice of noticesTypes" [ngValue]="notice.qmart">{{ notice.qmartx }}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="g_s240_100p g_s900_50p g_s900_33p g_s1024_25p pad_l_2_900_st pad_l_0_1024_st pad_r_2_1024_st">

                                                    <div class="relative lh_06 mar_t_2 mar_tb_2" *ngIf="filterSelectedModelFailure">
                                                        <label class="active placeholder_top_form block">Tipo de falla</label>
                                                        <select class="block" [(ngModel)]="filterSelectedModelFailure" (change)="changeFilterModelFailure()">
                                                            <option value="-1" selected>Seleccione el tipo de falla</option>
                                                            <option *ngFor="let failure of modelFailures" [ngValue]="failure.codegruppe">{{ failure.kurztext }}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="g_s240_100p g_s900_50p g_s900_33p g_s1024_25p pad_l_0_1024_st pad_r_2_1024_st">

                                                    <div class="relative lh_06 mar_t_2 mar_tb_2">
                                                        <label class="active placeholder_top_form block">Seleccionar falla</label>
                                                        <select class="block" [(ngModel)]="filterSelectedKeyDamage">
                                                            <option value="-1" selected>Seleccione la falla</option>
                                                            <option *ngFor="let key of modelKeyDamages" [ngValue]="key.ktsch">{{ key.txt }}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="g_s240_100p g_s900_50p g_s900_33p g_s1024_25p pad_l_2_900_st pad_l_0_1024_st pad_r_2_1024_st">
                                                    <div class="input-field relative">
                                                        <input placeholder="Agregar texto largo" id="description" type="text" class="validate input-material-field fs_1 placeholder_top_form_input" [(ngModel)]="description">
                                                        <label for="description" class="active placeholder_top_form">Texto</label>
                                                    </div>
                                                </div>

                                                <!--Buttons-->
                                                <div class="absolute_1024_st top_3_1024_st right_0_1024_st inline_divs pad_b_0_1024 pad_b_2">

                                                    <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="add()">
                                                        A&ntilde;adir
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div *ngIf="showFromFinishWO">
                                        <div>
                                            <div>
                                                <div class="pad_tb_05 inline_divs">
                                                    <div class="c_black bolder c_green_2">Orden: {{oRDENID}}</div>
                                                </div>
                                                <div class="pad_tb_05 inline_divs">
                                                    <div class="c_black bolder c_green_2">Descripci&oacute;n : {{kText}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_b_1">
                                            <div>
                                                <div class="pad_tb_05 inline_divs">
                                                    <div class="c_black bolder c_green_2">Puesto trabajo: {{WorkStation}}</div>
                                                    <div>{{descSubEquip}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_b_2" *ngIf="havePermissionToApprove()">

                                            <div class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light" (click)="approvePendingWorks()">
                                                Aprobar
                                            </div>

                                        </div>
                                    </div>



                                    <!--table-->
                                    <div class="overflow_auto">
                                        <div class="">
                                            <table class='striped highlight' *ngIf="pendingWorkDetails">
                                                <thead>
                                                    <tr>
                                                        <!--<th class="pad_lr_1">ID</th>-->
                                                        <th class="text-center">C&oacute;digo de falla</th>
                                                        <th class="text-center">Tipo de aviso</th>
                                                        <th class="text-center">Descripci&oacute;n</th>
                                                        <th class="text-center">Texto largo</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center" *ngIf="!showFromFinishWO">Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="v_mid_all" *ngFor="let pendingWO of pendingWorkDetails | paginate: { itemsPerPage: 10, currentPage: pagePendingWorks, id:'page_Pending_Works' }; let i = index">
                                                        <td class="text-center">{{pendingWO.fegrp}}</td>
                                                        <td class="text-center">{{pendingWO.qmartx}}</td>
                                                        <td class="text-center">{{pendingWO.kurztext}}</td>
                                                        <td class="text-center">{{pendingWO.descripcion}}</td>
                                                        <td class="text-center">{{pendingWO.status}}</td>
                                                        <td class="text-center" *ngIf="!showFromFinishWO">
                                                            <label class="check_span">
                                                                <input type="checkbox" [checked]="pendingWO.statusEliminado" [(ngModel)]="pendingWO.statusEliminado" (click)="pendingWOClick(pendingWO,$event)" (change)="deleteWO(pendingWO)" />
                                                                <span class="v_mid_all pointer relative">
                                                                </span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination-controls (pageChange)="pagePendingWorks = $event;"
                                                                 id="page_Pending_Works"
                                                                 class="bi-pagination text-right pad_t_3 block w100p"
                                                                 autoHide="true"
                                                                 previousLabel="Anterior"
                                                                 nextLabel="Siguiente"></pagination-controls>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cancel()">Cancelar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" *ngIf="!showFromFinishWO" (click)="savePendingWorks()">Guardar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>