<!-- Modal Structure -->
<div class="modal materials_authorizer_modal h43_900_st max_w_80">
    <div class="midd_container w100p box_sizing">
        <div class="midd_cell w100p box_sizing h100p_240_st hauto_900_st">
            <div class="h100p_240_st hauto_900_st">
                <div class="pad_2 fs_1 c_gray  relative ">

                    <!-- split -->
                    <span class="split_web_submenu z5 absolute w4px h3 bck_yellow left_0_240_st top_0_240_st bottom_0_240_st mar_auto"></span>

                    <div class="relative  pad_l_3  team_chat_container trans_05 only_700">

                        <!-- integrantes -->
                        <div class="w100p h2">
                            <div class="w100p overflow_h only_700">
                                <div class="team_chat trans_05">

                                    <span id="actorList" class="pad_r_05">
                                        <span class="c_green_3">Materiales </span>
                                    </span>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="border_tb_split special_height hauto_900_st">
                    <div class="h30_900_st relative box_sizing">

                        <div class="relative">

                            <div class="">
                                <div class="overflow_y_h_auto h30_900_st pad_2_240_st overflow_x_h">

                                    <div class="relative pad_r_5_1024_st">
                                          
                                    </div>

                                    <!--table-->
                                    <div class="overflow_auto">
                                        <table class='striped highlight' *ngIf="materials">
                                            <thead>
                                                <tr>
                                                    <!--<th><i class="material-icons">delete</i></th>
                                                    <th><i class="material-icons lh_1p5">chat</i></th>-->
                                                    <th>Código</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>UM</th>
                                                    <th>Costo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="v_mid_all" *ngFor="let mat of materials | paginate: { itemsPerPage: 10, currentPage: pageMaterialsAuthorizer, id:'page_Material_Authorizer' }; let i = index">
                                                    <!--<td>
                                                        <i class="material-icons" *ngIf="mat.ptborr=='1' && !mat.isnew">delete</i>
                                                        <label class="check_span" *ngIf="!showDeleteColumn">
                                                            <input type="checkbox" [checked]="mat.ptborr" [(ngModel)]="mat.ptborr" />
                                                            <span class="v_mid_all pointer">
                                                            </span>
                                                        </label>
                                                    </td>
                                                    <td><i class="material-icons">chat</i></td>-->
                                                    <td>{{mat.matnr}}</td>
                                                    <td>{{mat.maktx}}</td>
                                                    <td>{{mat.cant}}</td>
                                                    <td>{{mat.meins}}</td>
                                                    <td>{{mat.punitario}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="pageMaterialsAuthorizer = $event;"
                                                             id="page_Material_Authorizer"
                                                             class="bi-pagination text-right pad_t_3 block w100p"
                                                             autoHide="true"
                                                             previousLabel="Anterior"
                                                             nextLabel="Siguiente"></pagination-controls>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="pad_lr_2 pad_tb_1">
                    <div class="relative placeholder">
                        <div class="inline_divs text-right v_mid_all">
                            <span class="fs_08 uppercase pointer" (click)="cerrarModal()">Cerrar</span>
                            <!--<span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="saveMaterials()">Guardar</span>
                            <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="addMaterials()">Agregar materiales</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>