<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="input-field g_s240_100p g_s700_33p g_s900_25p pad_r_2_700_st pad_r_2_1024_st">
            <div class="input-field relative">
                <input placeholder="Digite el equipo" id="equipmentLabel" type="text" [(ngModel)]="filterEquipment" class="validate input-material-field fs_1 placeholder_top_form_input" (focusout)="changeFilter()">
                <label for="equipmentLabel" class="active placeholder_top_form">Equipo</label>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06">
                <label class="active placeholder_top_form block">Estado</label>
                <select class="block" [(ngModel)]="filterStatus" (ngModelChange)="changeFilter()">
                    <option value="-1" selected>Seleccione el estado</option>
                    <option *ngFor="let status of statusList" [ngValue]="status">{{status}}</option>
                </select>
            </div>
        </div>

        <div class="pad_lr_2 pad_tb_1">
            <div class="relative placeholder">
                <div class="inline_divs text-right v_mid_all">
                    <span class="c_red_2 lh_1p5 btn_ovalo_sm bck_yellow_light waves-effect pointer waves-light mar_l_1r" (click)="returnReq()">Regresar Requisa</span>
                    <span class="c_green_2 lh_1p5 btn_ovalo_sm bck_green_lighter waves-effect pointer waves-light mar_l_1" (click)="autoReq()" *ngIf="havePermissionToAuthorize()">Autorizar Requisa</span>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th class="text-center">No. Equipo</th>
                    <th class="text-center">Estatus de Equipo</th>
                    <th class="text-center">A&ntilde;os</th>
                    <th class="text-center">Nro. Orden</th>
                    <th class="text-center">Especialidad</th>
                    <th class="text-center">No. Requisa</th>
                    <th class="text-center">Costo OT</th>
                    <th class="text-center">Costo Requisa</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requirement of requirements | paginate: { itemsPerPage: 10, currentPage: pageReqAuthorize, id: 'authorize_requirement'}; let i = index">
                    <td class="text-center">{{requirement.equnr}}</td>
                    <td class="text-center">{{requirement.staT_EQ}}</td>
                    <td class="text-center">{{requirement.anios}}</td>
                    <td class="text-center"><a class="pointer" (click)="toRequirement(requirement.aufnr,requirement.nrequisa)">{{requirement.aufnr}}</a> </td>
                    <td class="text-center">{{requirement.espec}}</td>
                    <td class="text-center">{{requirement.nrequisa}}</td>
                    <td class="text-center">{{requirement.cosT_ORD}}</td>
                    <td class="text-center">{{requirement.cosT_REQU}}</td>
                    <td class="bck_gray0">
                        <label class="check_span" *ngIf="requirement.inRange">
                            <input type="checkbox" [(ngModel)]="requirement.checked" [checked]="requirement.checked" />
                            <span class="v_mid_all pointer"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageReqAuthorize = $event"
                             id="authorize_requirement"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>

</div>

