<div class="pad_t_7p5_1024">
    <div class="content_wrap bck_white pad_tb_0 fixed_1024_st top_3p5_1024_st z2_1024_st left_0_1024_st w100p pad_l_15r_1024_st pad_r_2_1024 full_width_selection unselected">
        <div class="pad_l_4_1024_st relative">
            <!-- vertical split -->
            <div class="split_web_submenu only_1024 absolute_tl_1024_st bottom_0_1024_st mar_auto w3px h60p bck_yellow">
                <div class="absolute_tl_240_st midd_container wh100p">
                    <div class="midd_cell pad_l_2">
                        <div class="circle bck_green_2 w04 h04"></div>
                        <div class="circle bck_yellow w04 h04 mar_t_03"></div>
                    </div>
                </div>
            </div>

            <ul class="tabs tabs-fixed-width c_black_all max_w_100 mar_auto">
                <li class="tab ">
                    <a class="active capitalize fs_09" href="#tabWoAssignment" *ngIf="evalMenu('42')" (click)="changeInboxTab('Asignación OT')">
                        Asignacion OT
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabWoConcluded" class="capitalize fs_09" *ngIf="evalMenu('43')" (click)="changeInboxTab('OT Concluida')">
                        OT Concluida
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabEquipmentSummary" class="capitalize fs_09" *ngIf="evalMenu('44')" (click)="changeInboxTab('Resumen por equipo')">
                        Resumen por equipo
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabProcessSummary" class="capitalize fs_09" *ngIf="evalMenu('45')" (click)="changeInboxTab('Resumen por proceso')">
                        Resumen por proceso
                    </a>
                </li>
                <li class="tab ">
                    <a href="#tabQualityTestControl" class="capitalize fs_09" *ngIf="evalMenu('46')" (click)="changeInboxTab('Prueba de calidad')">
                        Prueba de calidad
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_wrap body_container">
        <div class="pad_2_240_st pad_4_900_st bck_white body_white relative">

            <!-- title body navigation -->
            <div class="vertical_text uppercase ls_1 absolute w1 right_1p5_240_st top_0_240_st text-center fs_08 c_gray opa_50 only_1024 ellipsis pad_tb_4 h100p" [innerHTML]="navigation">
            </div>

            <!-- body -->
            <wo-assignment id="tabWoAssignment" class="col s12" *ngIf="evalMenu('42')"></wo-assignment>
            <wo-concluded id="tabWoConcluded" class="col s12" *ngIf="evalMenu('43')"></wo-concluded>
            <equipment-summary id="tabEquipmentSummary" class="col s12" *ngIf="evalMenu('44')"></equipment-summary>
            <process-summary id="tabProcessSummary" *ngIf="evalMenu('45')"></process-summary>

            <quality-test-control class="overflow_auto" id="tabQualityTestControl" *ngIf="evalMenu('46')"></quality-test-control>
        </div>
    </div>
</div>