﻿<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>No. Recepci&oacute;n</th>
                    <th>Equipo</th>
                    <th>Especialidad</th>
                    <th>Orden</th>
                    <th>Status</th>
                    <th>Bah&iacute;a</th>
                    <th>Fecha Fin</th>
                    <th>PB</th>
                    <th>PCC</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let test of qualityTestControls | paginate: { itemsPerPage: 10, currentPage: pageQualityTestControl, id: 'page_Quality_Test_Control'}; let i = index">
                    <td class="text-center">
                        {{test.rentnr}}
                    </td>
                    <td class="text-center">{{test.equnr}}</td>
                    <td class="text-center">{{test.especialidad}}</td>
                    <td class="text-center">
                        <table>
                            <tr *ngFor="let item of test.qualityTestControlList">
                                <td>{{item.aufnr}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-center">
                        <table>
                            <tr *ngFor="let item of test.qualityTestControlList">
                                <td>{{item.statord}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-center">
                        <table>
                            <tr *ngFor="let item of test.qualityTestControlList">
                                <td>{{item.bahia}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-center">
                        <table>
                            <tr *ngFor="let item of test.qualityTestControlList">
                                <td>{{item.femod}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-center">
                        <label class="check_span" *ngIf="checkStatus(test.qualityTestControlList)">
                            <input type="checkbox" [(ngModel)]="test.pbchecked" [checked]="test.pbchecked" (click)="PBClick(test,$event)" />
                            <span class="v_mid_all pointer">
                            </span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="check_span" *ngIf="checkStatus(test.qualityTestControlList) && checkRoadTest(test.qualityTestControlList)">
                            <input type="checkbox" [(ngModel)]="test.pcchecked" [checked]="test.pcchecked" (click)="PCClick(test,$event)" />
                            <span class="v_mid_all relative">
                            </span>
                        </label>
                    </td>
                    <td class="text-center">
                        <div class="inline_divs text-right v_mid_all" *ngIf="enableTouchApp(test.qualityTestControlList)">
                            <a class="c_gray opa_50 fs_09 mar_l_05 hover_yellow mar_t_05 pointer" (click)="concluir(test)">
                                <i class="material-icons">touch_app</i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageQualityTestControl = $event"
                             id="page_Quality_Test_Control"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>