﻿
<div class="" *ngIf="havePermission">
    <div class="pad_b_1">
        <div class="relative pad_r_10_480_st ">
            <div class="relative">
                <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
                    <div class="relative lh_06 mar_tb_2">
                        <select class="block" [(ngModel)]="filterClassAPM" (ngModelChange)="changeFilterClassAPM()">
                            <option value="-1" selected>Seleccione Clase APM</option>
                            <option value="6">Tecnico de llantas</option>
                            <option value="43">Tecnico de rendimiento</option>
                            <option value="OTROS">Otros</option>
                            <!--<option *ngFor="let class of classAPMList" [ngValue]="class">{{ class }}</option>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class="fs_09 text-right v_mid_all absolute_br_480_st pad_t_1_240_st pad_t_0_480_st">
                <div class="inline pad_lr_1">
                    <div class="absolute_480_st right_0_480_st top_1_480_st pad_b_2 pad_b_0_480_st">
                        <span class="inline c_white bck_green_3 bck_yellow_hover trans_05 btn_ovalo fs_08 pointer uppercase" (click)="enlazar()">Enlazar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>Nro. Equipo</th>
                    <th>Clase APM</th>
                    <th>Nro. Orden</th>
                    <th>Fecha Inicio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchaseRequisitionActives | paginate: { itemsPerPage: 10, currentPage: pageAssignReceptionOT, id: 'page_Assign_ReceptionOT' }; let i = index">
                    <td>{{purchase.equnr}}</td>
                    <td>{{purchase.capmtxt}}</td>
                    <td><input type="number" [(ngModel)]="purchase.aufnr" min="0" /></td>
                    <td>{{purchase.aedat}}</td>
                    <td>
                        <label class="check_span">
                            <input type="checkbox" [(ngModel)]="purchase.enlazar" [checked]="purchase.enlazar" (click)="enlazarClick(purchase,$event)" (change)="enlazarChange(purchase)" />
                            <span class="v_mid_all pointer relative">
                            </span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageAssignReceptionOT = $event"
                             id="page_Assign_ReceptionOT"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
