<div *ngIf="havePermission">
    <div class="column_container max_w_80 v_mid_all">

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_r_2_700_st">
            <div class="relative lh_06">
                <label class="active placeholder_top_form block">Supervisor</label>
                <select class="block" [(ngModel)]="filterSupervisor" (ngModelChange)="changeFilter()">
                    <option value="-1" selected>Seleccione el supervisor</option>
                    <option *ngFor="let sup of enumSupervisor" [ngValue]="sup.usuario">{{ sup.usuario }}</option>
                </select>
            </div>
        </div>

        <div class="input-field g_s240_100p g_s700_33p g_s900_25p pad_r_2_700_st">
            <div class="input-field relative">
                <input placeholder="Digite el equipo" id="equipmentSup" type="text" [(ngModel)]="filterEquipmentSup" class="validate input-material-field fs_1 placeholder_top_form_input" (focusout)="changeEquipment()">
                <label for="equipmentSup" class="active placeholder_top_form">Equipo</label>
            </div>
        </div>

        <div class="g_s240_100p g_s700_33p g_s1024_25p pad_l_2_700_st pad_l_0_1024_st pad_r_2_1024_st">
            <div class="relative lh_06">
                <label class="active placeholder_top_form block">Especialidad</label>
                <select class="block" [(ngModel)]="filterSpecialtySup" (ngModelChange)="changeFilter()">
                    <option value="-1" selected>Seleccione la especialidad</option>
                    <option *ngFor="let specialty of enumSpecialty" [ngValue]="specialty">{{ specialty }}</option>
                </select>
            </div>
        </div>

        <div class="input-field g_s1024_25p pad_t_1_1024_st mar_0">
            <div>
                <label class="block pad_b_2 pad_b_0_1024_st relative">
                    <span class="absolute_default">
                        <span class="check_span">
                            <input type="checkbox" [(ngModel)]="filterApproved" [checked]="filterApproved" (ngModelChange)="changeFilter()" />
                            <span class="v_mid_all pointer"></span>
                        </span>
                    </span>
                    <span class="italic fs_09 pad_l_2 block">
                        Aprobado?
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>Nro. Equipo</th>
                    <th>Estado</th>
                    <th>A&ntilde;os</th>
                    <th>Nro. Orden</th>
                    <th>Especialidad</th>
                    <th>Requisa no autorizada</th>
                    <th>Tiempo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requirementTD of requirements | paginate: { itemsPerPage: 10, currentPage: pageApproveRequirement, id: 'page_Approve_Requirement' }; let i = index">
                    <td>{{requirementTD.equnr}}</td>
                    <td>{{requirementTD.staT_EQ}}</td>
                    <td>{{requirementTD.anios}}</td>
                    <td><a class="pointer" (click)="toRequirement(requirementTD.aufnr,requirementTD.nrequisa)">{{requirementTD.aufnr}}</a> </td>
                    <td>{{requirementTD.espec}}</td>
                    <td>{{requirementTD.nrequisa}}</td>
                    <td>{{requirementTD.tiempo}}</td>
                    <td>
                        <div class="inline pad_lr_1"><a class="c_green_2 pointer" (click)="loadMessengerRequirementSup(requirementTD)"><i class="material-icons lh_1p5" [ngClass]="requirementTD.comentario == '0' ? 'c_gray' : ''">chat</i></a></div>
                    </td>
                    <td class="bck_gray0">
                        <button *ngIf="requirementTD.approved" class="c_gray_2 pointer" (click)="updateSup(requirementTD.aufnr,requirementTD.nrequisa)">Retorno de requisa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageApproveRequirement = $event"
                             id="page_Approve_Requirement"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

