﻿
<div *ngIf="havePermission">

    <div class="pad_b_1">
        <div class="relative pad_r_10_480_st ">

            <div class="input-field g_s1024_25p mar_0">
                <div>
                    <label class="block pad_b_2 pad_b_0_1024_st relative">
                        <span class="absolute_default">
                            <span class="check_span">
                                <input type="checkbox" [(ngModel)]="filterStatus" [checked]="filterStatus" (ngModelChange)="loadPurchaseRequisitionAuthorizations()" />
                                <span class="v_mid_all pointer"></span>
                            </span>
                        </span>
                        <span class="italic fs_09 pad_l_2 block">
                            Mostrar requisa procesada
                        </span>
                    </label>
                </div>
            </div>


            <div class="fs_09 absolute top_0_480_st bottom_0_480_st right_0_480_st h2 mar_auto">
                <div class="inline pad_lr_1">
                    <div class="">
                        <span class="inline c_white bck_green_3 bck_yellow_hover trans_05 btn_ovalo fs_08 pointer uppercase" (click)="process()">Procesar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="overflow_auto">
        <table class='striped highlight'>
            <thead>
                <tr>
                    <th>Tomado por</th>
                    <th>Nro. Equipo</th>
                    <th>Nro. Requisa</th>
                    <th>CI</th>
                    <th>Orden Origen</th>
                    <th>Orden Destino</th>
                    <th>Regresar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchaseRequisitionAuthorizations | paginate: { itemsPerPage: 10, currentPage: pagePurchase, id:'page_Purchase' }; let i = index">
                    <td>{{purchase.tomada}}</td>
                    <td>{{purchase.equnr}}</td>
                    <td>{{purchase.nrequisa}}</td>
                    <td>
                        <label class="check_span">
                            <input type="checkbox" [(ngModel)]="purchase.ciChecked" [checked]="purchase.ciChecked" disabled="disabled" readonly />
                            <span class="v_mid_all relative">
                            </span>
                        </label>
                    </td>
                    <td><a class="pointer" (click)="loadWODetail(purchase.aufnr, '', purchase.equnr)">{{purchase.aufnr}}</a></td>
                    <td><input type="number" [(ngModel)]="purchase.aufnrdes" min="0" /></td>
                    <td>
                        <div class="inline_divs v_mid_all" *ngIf="!filterStatus || (filterStatus && purchase.procesa !='1')">
                            <a class="c_gray opa_50 fs_09 mar_l_05 hover_yellow mar_t_05 pointer" (click)="returnPurchase(purchase)">
                                <i class="material-icons">keyboard_return</i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <label class="check_span" *ngIf="!filterStatus || (filterStatus && purchase.procesa !='1')">
                            <input type="checkbox" [(ngModel)]="purchase.procesachecked" [checked]="purchase.procesachecked" (click)="processClick(purchase,$event)" (change)="processChange(purchase)" />
                            <span class="v_mid_all pointer relative">
                            </span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pagePurchase = $event"
                             id="page_Purchase"
                             class="bi-pagination text-right pad_t_3 block w100p"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
